.content {
  /* Base */
  font-size: var(--font-size-5);
  line-height: var(--line-height-copy);

  @media (--breakpoint-large) {
    font-size: var(--font-size-4);
  }

  /* Vertical Rhythm */
  & > * {
    /* reset all margins */
    margin-top: 0;
    margin-bottom: 0;

    /* margin top to all child elements */
    & + * {
      margin-top: var(--spacing-medium);
    }

    /* bigger margin top on headers */
    & + h1,
    & + h2 {
      margin-top: var(--spacing-extra-large);
    }

    & + h3,
    & + h4 {
      margin-top: var(--spacing-large);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: var(--line-height-title);
  }

  p,
  ul,
  ol,
  address {
    max-width: var(--measure-wide);
  }

  /* Headers */
  h1 {
    font-size: var(--font-size-3);
    font-weight: 600;

    @media (--breakpoint-large) {
      font-size: var(--font-size-2);
    }
  }

  h2 {
    font-size: var(--font-size-4);
    font-weight: 600;

    @media (--breakpoint-large) {
      font-size: var(--font-size-3);
    }
  }

  h3 {
    font-size: var(--font-size-5);
    font-weight: 600;

    @media (--breakpoint-large) {
      font-size: var(--font-size-4);
    }
  }

  h4,
  h5,
  h6 {
    font-size: var(--font-size-5);
    font-weight: 500;

    @media (--breakpoint-large) {
      font-size: var(--font-size-4);
    }
  }

  /* Type Elements */

  hr {
    width: 100%;
    max-width: var(--max-width-4);
    margin: var(--spacing-large) 0;
    border: var(--border-width-2) solid var(--orange);
  }

  ul,
  ol {
    padding-left: var(--spacing-large);
  }

  ul ul,
  ol ol,
  ul ol,
  ol ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  b,
  strong,
  em,
  small,
  code {
    line-height: var(--line-height-solid);
  }

  sup,
  sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }

  sub {
    top: 0.4em;
  }

  a {
    color: var(--dark-gray);
    transition: color 0.15s ease-in;

    &:hover {
      color: var(--orange);
    }

    &:focus {
      outline: 1px dotted currentColor;
    }
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
    border-left: var(--border-width-3) solid var(--orange);
    border-radius: var(--border-radius-1);
    padding: var(--spacing-medium) var(--spacing-large);
    background-color: var(--near-white);

    p {
      max-width: var(--measure);
    }
  }

  code {
    font-family: var(--code);
  }

  p code,
  li code {
    border: 1px solid var(--black-20);
    border-radius: var(--border-radius-1);
    padding-left: var(--spacing-extra-small);
    padding-right: var(--spacing-extra-small);
    background-color: var(--near-white);
    font-size: var(--font-size-6);
    white-space: nowrap;

    @media (--breakpoint-large) {
      font-size: var(--font-size-5);
    }
  }

  pre {
    width: 100%;
    border-left: var(--border-width-3) solid var(--orange);
    border-radius: var(--border-radius-1);
    padding: var(--spacing-medium) var(--spacing-large);
    background-color: var(--dark-gray);
    color: var(--near-white);
    font-size: var(--font-size-6);
    font-family: var(--code);
    white-space: pre;

    @media (--breakpoint-large) {
      font-size: var(--font-size-5);
    }
  }

  img {
    display: block;
    width: 100%;
    max-width: var(--max-width-7);
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-large);
    border-radius: var(--border-radius-1);
  }
}
