.content {
  /* Base */
  font-size: var(--font-size-5);
  line-height: var(--line-height-copy);

  @media (--breakpoint-large) {
    font-size: var(--font-size-4);
  }

  /* Vertical Rhythm */
  & > * {
    /* reset all margins */
    margin: 0;

    /* margin top to all child elements */
    & + * {
      margin-top: var(--spacing-small);

      @media (--breakpoint-large) {
        margin-top: var(--spacing-medium);
      }
    }

    /* bigger margin top on headers
     * kind of gross they don't fit perfectly into spacing scale,
     * but they look better like this
     */
    & + h1, & + h2, & + h3 {
      margin-top: calc(var(--spacing-small) + var(--spacing-medium));

      @media (--breakpoint-large) {
        margin-top: calc(var(--spacing-medium) + var(--spacing-large));
      }
    }
  }

  h1, h2, h3, h4, h5, h6 { line-height: var(--line-height-title); }

  p, ul, ol, address { max-width: var(--measure-wide); }

  /* Headers */
  h1 {
    font-size: var(--font-size-3);
    font-weight: 600;

    @media (--breakpoint-large) {
      font-size: var(--font-size-2);
    }
  }

  h2 {
    font-size: var(--font-size-4);
    font-weight: 600;

    @media (--breakpoint-large) {
      font-size: var(--font-size-3);
    }
  }

  h3 {
    font-size: var(--font-size-5);
    font-weight: 600;

    @media (--breakpoint-large) {
      font-size: var(--font-size-4);
    }
  }

  h4, h5, h6 {
    font-size: var(--font-size-5);
    font-weight: 500;

    @media (--breakpoint-large) {
      font-size: var(--font-size-4);
    }
  }

  /* Type Elements */

  hr {
    width: 100%;
    max-width: var(--max-width-4);
    margin: var(--spacing-large) 0;
    border: var(--border-width-2) solid var(--orange);
  }

  ul, ol {
    padding-left: var(--spacing-large);
  }

  ul ul, ol ol, ul ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  b, strong, em, small, code {
    line-height: var(--line-height-solid);
  }

  sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }

  sub {
    top: 0.4em;
  }

  a {
    color: var(--dark-gray);
    transition: color 0.15s ease-in;

    &:hover {
      color: var(--orange);
    }

    &:focus {
      outline: 1px dotted currentColor;
    }
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
    border-left: var(--border-width-3) solid var(--orange);
    border-radius: var(--border-radius-1);
    padding: var(--spacing-medium) var(--spacing-large);
    background-color: var(--near-white);

    p {
      max-width: var(--measure);
    }
  }

  code {
    border: 1px solid var(--black-20);
    border-radius: var(--border-radius-1);
    padding-left: var(--spacing-extra-small);
    padding-right: var(--spacing-extra-small);
    background-color: var(--near-white);
    font-size: var(--font-size-6);
    font-family: var(--code);

    @media (--breakpoint-large) {
      font-size: var(--font-size-5);
    }
  }

  pre {
    width: 100%;
    border-left: var(--border-width-3) solid var(--orange);
    border-radius: var(--border-radius-1);
    padding: var(--spacing-medium) var(--spacing-large);
    background-color: var(--dark-gray);
    color: var(--near-white);
    font-size: var(--font-size-6);
    font-family: var(--code);
    white-space: pre;

    @media (--breakpoint-large) {
      font-size: var(--font-size-5);
    }

    code {
      width: 100%;
      border: none;
      padding-left: 0;
      padding-right: 0;
      background-color: transparent;
    }
  }

  img {
    display: block;
    width: 100%;
    max-width: var(--max-width-7);
    border-radius: var(--border-radius-1);
  }
}
