/* Variables */

/* Spacing Scale - based on a ratio of 1:2 */
:root {
  --spacing-extra-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 8rem;
  --spacing-extra-extra-extra-large: 16rem;
}

/* Media Queries */

@custom-media --breakpoint-not-small screen and (min-width: 48em);
@custom-media --breakpoint-medium screen and (min-width: 48em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em);

/*
   SPACING

   An eight step powers of two scale ranging from 0 to 16rem.
   Namespaces are composable and thus highly grockable - check the legend below

   Legend:

   m = margin

   a = all
   h = horizontal
   v = vertical
   t = top
   r = right
   b = bottom
   l = left

   n1 = 1st step in negative spacing scale
   n2 = 2nd step in negative spacing scale
   n3 = 3rd step in negative spacing scale
   n4 = 4th step in negative spacing scale
   n5 = 5th step in negative spacing scale
   n6 = 6th step in negative spacing scale
   n7 = 7th step in negative spacing scale

*/

/* stylelint-disable rule-nested-empty-line-before */

.man1 { margin: calc(var(--spacing-extra-small) * -1); }
.man2 { margin: calc(var(--spacing-small) * -1); }
.man3 { margin: calc(var(--spacing-medium) * -1); }
.man4 { margin: calc(var(--spacing-large) * -1); }
.man5 { margin: calc(var(--spacing-extra-large) * -1); }
.man6 { margin: calc(var(--spacing-extra-extra-large) * -1); }
.man7 { margin: calc(var(--spacing-extra-extra-extra-large) * -1); }

.mln1 { margin-left: calc(var(--spacing-extra-small) * -1); }
.mln2 { margin-left: calc(var(--spacing-small) * -1); }
.mln3 { margin-left: calc(var(--spacing-medium) * -1); }
.mln4 { margin-left: calc(var(--spacing-large) * -1); }
.mln5 { margin-left: calc(var(--spacing-extra-large) * -1); }
.mln6 { margin-left: calc(var(--spacing-extra-extra-large) * -1); }
.mln7 { margin-left: calc(var(--spacing-extra-extra-extra-large) * -1); }

.mrn1 { margin-right: calc(var(--spacing-extra-small) * -1); }
.mrn2 { margin-right: calc(var(--spacing-small) * -1); }
.mrn3 { margin-right: calc(var(--spacing-medium) * -1); }
.mrn4 { margin-right: calc(var(--spacing-large) * -1); }
.mrn5 { margin-right: calc(var(--spacing-extra-large) * -1); }
.mrn6 { margin-right: calc(var(--spacing-extra-extra-large) * -1); }
.mrn7 { margin-right: calc(var(--spacing-extra-extra-extra-large) * -1); }

.mbn1 { margin-bottom: calc(var(--spacing-extra-small) * -1); }
.mbn2 { margin-bottom: calc(var(--spacing-small) * -1); }
.mbn3 { margin-bottom: calc(var(--spacing-medium) * -1); }
.mbn4 { margin-bottom: calc(var(--spacing-large) * -1); }
.mbn5 { margin-bottom: calc(var(--spacing-extra-large) * -1); }
.mbn6 { margin-bottom: calc(var(--spacing-extra-extra-large) * -1); }
.mbn7 { margin-bottom: calc(var(--spacing-extra-extra-extra-large) * -1); }

.mtn1 { margin-top: calc(var(--spacing-extra-small) * -1); }
.mtn2 { margin-top: calc(var(--spacing-small) * -1); }
.mtn3 { margin-top: calc(var(--spacing-medium) * -1); }
.mtn4 { margin-top: calc(var(--spacing-large) * -1); }
.mtn5 { margin-top: calc(var(--spacing-extra-large) * -1); }
.mtn6 { margin-top: calc(var(--spacing-extra-extra-large) * -1); }
.mtn7 { margin-top: calc(var(--spacing-extra-extra-extra-large) * -1); }

.mvn1 {
  margin-top: calc(var(--spacing-extra-small) * -1);
  margin-bottom: calc(var(--spacing-extra-small) * -1);
}
.mvn2 {
  margin-top: calc(var(--spacing-small) * -1);
  margin-bottom: calc(var(--spacing-small) * -1);
}
.mvn3 {
  margin-top: calc(var(--spacing-medium) * -1);
  margin-bottom: calc(var(--spacing-medium) * -1);
}
.mvn4 {
  margin-top: calc(var(--spacing-large) * -1);
  margin-bottom: calc(var(--spacing-large) * -1);
}
.mvn5 {
  margin-top: calc(var(--spacing-extra-large) * -1);
  margin-bottom: calc(var(--spacing-extra-large) * -1);
}
.mvn6 {
  margin-top: calc(var(--spacing-extra-extra-large) * -1);
  margin-bottom: calc(var(--spacing-extra-extra-large) * -1);
}
.mvn7 {
  margin-top: calc(var(--spacing-extra-extra-extra-large) * -1);
  margin-bottom: calc(var(--spacing-extra-extra-extra-large) * -1);
}

.mhn1 {
  margin-left: calc(var(--spacing-extra-small) * -1);
  margin-right: calc(var(--spacing-extra-small) * -1);
}
.mhn2 {
  margin-left: calc(var(--spacing-small) * -1);
  margin-right: calc(var(--spacing-small) * -1);
}
.mhn3 {
  margin-left: calc(var(--spacing-medium) * -1);
  margin-right: calc(var(--spacing-medium) * -1);
}
.mhn4 {
  margin-left: calc(var(--spacing-large) * -1);
  margin-right: calc(var(--spacing-large) * -1);
}
.mhn5 {
  margin-left: calc(var(--spacing-extra-large) * -1);
  margin-right: calc(var(--spacing-extra-large) * -1);
}
.mhn6 {
  margin-left: calc(var(--spacing-extra-extra-large) * -1);
  margin-right: calc(var(--spacing-extra-extra-large) * -1);
}
.mhn7 {
  margin-left: calc(var(--spacing-extra-extra-extra-large) * -1);
  margin-right: calc(var(--spacing-extra-extra-extra-large) * -1);
}

@media (--breakpoint-not-small) {
  .man1-ns { margin: calc(var(--spacing-extra-small) * -1); }
  .man2-ns { margin: calc(var(--spacing-small) * -1); }
  .man3-ns { margin: calc(var(--spacing-medium) * -1); }
  .man4-ns { margin: calc(var(--spacing-large) * -1); }
  .man5-ns { margin: calc(var(--spacing-extra-large) * -1); }
  .man6-ns { margin: calc(var(--spacing-extra-extra-large) * -1); }
  .man7-ns { margin: calc(var(--spacing-extra-extra-extra-large) * -1); }

  .mln1-ns { margin-left: calc(var(--spacing-extra-small) * -1); }
  .mln2-ns { margin-left: calc(var(--spacing-small) * -1); }
  .mln3-ns { margin-left: calc(var(--spacing-medium) * -1); }
  .mln4-ns { margin-left: calc(var(--spacing-large) * -1); }
  .mln5-ns { margin-left: calc(var(--spacing-extra-large) * -1); }
  .mln6-ns { margin-left: calc(var(--spacing-extra-extra-large) * -1); }
  .mln7-ns { margin-left: calc(var(--spacing-extra-extra-extra-large) * -1); }

  .mrn1-ns { margin-right: calc(var(--spacing-extra-small) * -1); }
  .mrn2-ns { margin-right: calc(var(--spacing-small) * -1); }
  .mrn3-ns { margin-right: calc(var(--spacing-medium) * -1); }
  .mrn4-ns { margin-right: calc(var(--spacing-large) * -1); }
  .mrn5-ns { margin-right: calc(var(--spacing-extra-large) * -1); }
  .mrn6-ns { margin-right: calc(var(--spacing-extra-extra-large) * -1); }
  .mrn7-ns { margin-right: calc(var(--spacing-extra-extra-extra-large) * -1); }

  .mbn1-ns { margin-bottom: calc(var(--spacing-extra-small) * -1); }
  .mbn2-ns { margin-bottom: calc(var(--spacing-small) * -1); }
  .mbn3-ns { margin-bottom: calc(var(--spacing-medium) * -1); }
  .mbn4-ns { margin-bottom: calc(var(--spacing-large) * -1); }
  .mbn5-ns { margin-bottom: calc(var(--spacing-extra-large) * -1); }
  .mbn6-ns { margin-bottom: calc(var(--spacing-extra-extra-large) * -1); }
  .mbn7-ns { margin-bottom: calc(var(--spacing-extra-extra-extra-large) * -1); }

  .mtn1-ns { margin-top: calc(var(--spacing-extra-small) * -1); }
  .mtn2-ns { margin-top: calc(var(--spacing-small) * -1); }
  .mtn3-ns { margin-top: calc(var(--spacing-medium) * -1); }
  .mtn4-ns { margin-top: calc(var(--spacing-large) * -1); }
  .mtn5-ns { margin-top: calc(var(--spacing-extra-large) * -1); }
  .mtn6-ns { margin-top: calc(var(--spacing-extra-extra-large) * -1); }
  .mtn7-ns { margin-top: calc(var(--spacing-extra-extra-extra-large) * -1); }

  .mvn1-ns {
    margin-top: calc(var(--spacing-extra-small) * -1);
    margin-bottom: calc(var(--spacing-extra-small) * -1);
  }
  .mvn2-ns {
    margin-top: calc(var(--spacing-small) * -1);
    margin-bottom: calc(var(--spacing-small) * -1);
  }
  .mvn3-ns {
    margin-top: calc(var(--spacing-medium) * -1);
    margin-bottom: calc(var(--spacing-medium) * -1);
  }
  .mvn4-ns {
    margin-top: calc(var(--spacing-large) * -1);
    margin-bottom: calc(var(--spacing-large) * -1);
  }
  .mvn5-ns {
    margin-top: calc(var(--spacing-extra-large) * -1);
    margin-bottom: calc(var(--spacing-extra-large) * -1);
  }
  .mvn6-ns {
    margin-top: calc(var(--spacing-extra-extra-large) * -1);
    margin-bottom: calc(var(--spacing-extra-extra-large) * -1);
  }
  .mvn7-ns {
    margin-top: calc(var(--spacing-extra-extra-extra-large) * -1);
    margin-bottom: calc(var(--spacing-extra-extra-extra-large) * -1);
  }

  .mhn1-ns {
    margin-left: calc(var(--spacing-extra-small) * -1);
    margin-right: calc(var(--spacing-extra-small) * -1);
  }
  .mhn2-ns {
    margin-left: calc(var(--spacing-small) * -1);
    margin-right: calc(var(--spacing-small) * -1);
  }
  .mhn3-ns {
    margin-left: calc(var(--spacing-medium) * -1);
    margin-right: calc(var(--spacing-medium) * -1);
  }
  .mhn4-ns {
    margin-left: calc(var(--spacing-large) * -1);
    margin-right: calc(var(--spacing-large) * -1);
  }
  .mhn5-ns {
    margin-left: calc(var(--spacing-extra-large) * -1);
    margin-right: calc(var(--spacing-extra-large) * -1);
  }
  .mhn6-ns {
    margin-left: calc(var(--spacing-extra-extra-large) * -1);
    margin-right: calc(var(--spacing-extra-extra-large) * -1);
  }
  .mhn7-ns {
    margin-left: calc(var(--spacing-extra-extra-extra-large) * -1);
    margin-right: calc(var(--spacing-extra-extra-extra-large) * -1);
  }
}

@media (--breakpoint-medium) {
  .man1-m { margin: calc(var(--spacing-extra-small) * -1); }
  .man2-m { margin: calc(var(--spacing-small) * -1); }
  .man3-m { margin: calc(var(--spacing-medium) * -1); }
  .man4-m { margin: calc(var(--spacing-large) * -1); }
  .man5-m { margin: calc(var(--spacing-extra-large) * -1); }
  .man6-m { margin: calc(var(--spacing-extra-extra-large) * -1); }
  .man7-m { margin: calc(var(--spacing-extra-extra-extra-large) * -1); }

  .mln1-m { margin-left: calc(var(--spacing-extra-small) * -1); }
  .mln2-m { margin-left: calc(var(--spacing-small) * -1); }
  .mln3-m { margin-left: calc(var(--spacing-medium) * -1); }
  .mln4-m { margin-left: calc(var(--spacing-large) * -1); }
  .mln5-m { margin-left: calc(var(--spacing-extra-large) * -1); }
  .mln6-m { margin-left: calc(var(--spacing-extra-extra-large) * -1); }
  .mln7-m { margin-left: calc(var(--spacing-extra-extra-extra-large) * -1); }

  .mrn1-m { margin-right: calc(var(--spacing-extra-small) * -1); }
  .mrn2-m { margin-right: calc(var(--spacing-small) * -1); }
  .mrn3-m { margin-right: calc(var(--spacing-medium) * -1); }
  .mrn4-m { margin-right: calc(var(--spacing-large) * -1); }
  .mrn5-m { margin-right: calc(var(--spacing-extra-large) * -1); }
  .mrn6-m { margin-right: calc(var(--spacing-extra-extra-large) * -1); }
  .mrn7-m { margin-right: calc(var(--spacing-extra-extra-extra-large) * -1); }

  .mbn1-m { margin-bottom: calc(var(--spacing-extra-small) * -1); }
  .mbn2-m { margin-bottom: calc(var(--spacing-small) * -1); }
  .mbn3-m { margin-bottom: calc(var(--spacing-medium) * -1); }
  .mbn4-m { margin-bottom: calc(var(--spacing-large) * -1); }
  .mbn5-m { margin-bottom: calc(var(--spacing-extra-large) * -1); }
  .mbn6-m { margin-bottom: calc(var(--spacing-extra-extra-large) * -1); }
  .mbn7-m { margin-bottom: calc(var(--spacing-extra-extra-extra-large) * -1); }

  .mtn1-m { margin-top: calc(var(--spacing-extra-small) * -1); }
  .mtn2-m { margin-top: calc(var(--spacing-small) * -1); }
  .mtn3-m { margin-top: calc(var(--spacing-medium) * -1); }
  .mtn4-m { margin-top: calc(var(--spacing-large) * -1); }
  .mtn5-m { margin-top: calc(var(--spacing-extra-large) * -1); }
  .mtn6-m { margin-top: calc(var(--spacing-extra-extra-large) * -1); }
  .mtn7-m { margin-top: calc(var(--spacing-extra-extra-extra-large) * -1); }

  .mvn1-m {
    margin-top: calc(var(--spacing-extra-small) * -1);
    margin-bottom: calc(var(--spacing-extra-small) * -1);
  }
  .mvn2-m {
    margin-top: calc(var(--spacing-small) * -1);
    margin-bottom: calc(var(--spacing-small) * -1);
  }
  .mvn3-m {
    margin-top: calc(var(--spacing-medium) * -1);
    margin-bottom: calc(var(--spacing-medium) * -1);
  }
  .mvn4-m {
    margin-top: calc(var(--spacing-large) * -1);
    margin-bottom: calc(var(--spacing-large) * -1);
  }
  .mvn5-m {
    margin-top: calc(var(--spacing-extra-large) * -1);
    margin-bottom: calc(var(--spacing-extra-large) * -1);
  }
  .mvn6-m {
    margin-top: calc(var(--spacing-extra-extra-large) * -1);
    margin-bottom: calc(var(--spacing-extra-extra-large) * -1);
  }
  .mvn7-m {
    margin-top: calc(var(--spacing-extra-extra-extra-large) * -1);
    margin-bottom: calc(var(--spacing-extra-extra-extra-large) * -1);
  }

  .mhn1-m {
    margin-left: calc(var(--spacing-extra-small) * -1);
    margin-right: calc(var(--spacing-extra-small) * -1);
  }
  .mhn2-m {
    margin-left: calc(var(--spacing-small) * -1);
    margin-right: calc(var(--spacing-small) * -1);
  }
  .mhn3-m {
    margin-left: calc(var(--spacing-medium) * -1);
    margin-right: calc(var(--spacing-medium) * -1);
  }
  .mhn4-m {
    margin-left: calc(var(--spacing-large) * -1);
    margin-right: calc(var(--spacing-large) * -1);
  }
  .mhn5-m {
    margin-left: calc(var(--spacing-extra-large) * -1);
    margin-right: calc(var(--spacing-extra-large) * -1);
  }
  .mhn6-m {
    margin-left: calc(var(--spacing-extra-extra-large) * -1);
    margin-right: calc(var(--spacing-extra-extra-large) * -1);
  }
  .mhn7-m {
    margin-left: calc(var(--spacing-extra-extra-extra-large) * -1);
    margin-right: calc(var(--spacing-extra-extra-extra-large) * -1);
  }
}

@media (--breakpoint-large) {
  .man1-l { margin: calc(var(--spacing-extra-small) * -1); }
  .man2-l { margin: calc(var(--spacing-small) * -1); }
  .man3-l { margin: calc(var(--spacing-medium) * -1); }
  .man4-l { margin: calc(var(--spacing-large) * -1); }
  .man5-l { margin: calc(var(--spacing-extra-large) * -1); }
  .man6-l { margin: calc(var(--spacing-extra-extra-large) * -1); }
  .man7-l { margin: calc(var(--spacing-extra-extra-extra-large) * -1); }

  .mln1-l { margin-left: calc(var(--spacing-extra-small) * -1); }
  .mln2-l { margin-left: calc(var(--spacing-small) * -1); }
  .mln3-l { margin-left: calc(var(--spacing-medium) * -1); }
  .mln4-l { margin-left: calc(var(--spacing-large) * -1); }
  .mln5-l { margin-left: calc(var(--spacing-extra-large) * -1); }
  .mln6-l { margin-left: calc(var(--spacing-extra-extra-large) * -1); }
  .mln7-l { margin-left: calc(var(--spacing-extra-extra-extra-large) * -1); }

  .mrn1-l { margin-right: calc(var(--spacing-extra-small) * -1); }
  .mrn2-l { margin-right: calc(var(--spacing-small) * -1); }
  .mrn3-l { margin-right: calc(var(--spacing-medium) * -1); }
  .mrn4-l { margin-right: calc(var(--spacing-large) * -1); }
  .mrn5-l { margin-right: calc(var(--spacing-extra-large) * -1); }
  .mrn6-l { margin-right: calc(var(--spacing-extra-extra-large) * -1); }
  .mrn7-l { margin-right: calc(var(--spacing-extra-extra-extra-large) * -1); }

  .mbn1-l { margin-bottom: calc(var(--spacing-extra-small) * -1); }
  .mbn2-l { margin-bottom: calc(var(--spacing-small) * -1); }
  .mbn3-l { margin-bottom: calc(var(--spacing-medium) * -1); }
  .mbn4-l { margin-bottom: calc(var(--spacing-large) * -1); }
  .mbn5-l { margin-bottom: calc(var(--spacing-extra-large) * -1); }
  .mbn6-l { margin-bottom: calc(var(--spacing-extra-extra-large) * -1); }
  .mbn7-l { margin-bottom: calc(var(--spacing-extra-extra-extra-large) * -1); }

  .mtn1-l { margin-top: calc(var(--spacing-extra-small) * -1); }
  .mtn2-l { margin-top: calc(var(--spacing-small) * -1); }
  .mtn3-l { margin-top: calc(var(--spacing-medium) * -1); }
  .mtn4-l { margin-top: calc(var(--spacing-large) * -1); }
  .mtn5-l { margin-top: calc(var(--spacing-extra-large) * -1); }
  .mtn6-l { margin-top: calc(var(--spacing-extra-extra-large) * -1); }
  .mtn7-l { margin-top: calc(var(--spacing-extra-extra-extra-large) * -1); }

  .mvn1-l {
    margin-top: calc(var(--spacing-extra-small) * -1);
    margin-bottom: calc(var(--spacing-extra-small) * -1);
  }
  .mvn2-l {
    margin-top: calc(var(--spacing-small) * -1);
    margin-bottom: calc(var(--spacing-small) * -1);
  }
  .mvn3-l {
    margin-top: calc(var(--spacing-medium) * -1);
    margin-bottom: calc(var(--spacing-medium) * -1);
  }
  .mvn4-l {
    margin-top: calc(var(--spacing-large) * -1);
    margin-bottom: calc(var(--spacing-large) * -1);
  }
  .mvn5-l {
    margin-top: calc(var(--spacing-extra-large) * -1);
    margin-bottom: calc(var(--spacing-extra-large) * -1);
  }
  .mvn6-l {
    margin-top: calc(var(--spacing-extra-extra-large) * -1);
    margin-bottom: calc(var(--spacing-extra-extra-large) * -1);
  }
  .mvn7-l {
    margin-top: calc(var(--spacing-extra-extra-extra-large) * -1);
    margin-bottom: calc(var(--spacing-extra-extra-extra-large) * -1);
  }

  .mhn1-l {
    margin-left: calc(var(--spacing-extra-small) * -1);
    margin-right: calc(var(--spacing-extra-small) * -1);
  }
  .mhn2-l {
    margin-left: calc(var(--spacing-small) * -1);
    margin-right: calc(var(--spacing-small) * -1);
  }
  .mhn3-l {
    margin-left: calc(var(--spacing-medium) * -1);
    margin-right: calc(var(--spacing-medium) * -1);
  }
  .mhn4-l {
    margin-left: calc(var(--spacing-large) * -1);
    margin-right: calc(var(--spacing-large) * -1);
  }
  .mhn5-l {
    margin-left: calc(var(--spacing-extra-large) * -1);
    margin-right: calc(var(--spacing-extra-large) * -1);
  }
  .mhn6-l {
    margin-left: calc(var(--spacing-extra-extra-large) * -1);
    margin-right: calc(var(--spacing-extra-extra-large) * -1);
  }
  .mhn7-l {
    margin-left: calc(var(--spacing-extra-extra-extra-large) * -1);
    margin-right: calc(var(--spacing-extra-extra-extra-large) * -1);
  }
}
