@media print {
  @page  { /* stylelint-disable-line */
    size: letter portrait;
    margin: 0.25in 1.25in;
  }

  * {
    widows: 3;
    orphans: 3;
  }

  .shadow-none-p {
    box-shadow: unset;
  }

  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  [data-hero-pattern] {
    /* stylelint-disable declaration-no-important */
    background-image: none !important;
    /* stylelint-enable declaration-no-important */
  }

  [href^='http']::after {
    content: '(' attr(href) ')';
    @extend .ml1;
    @extend .f5;
    @extend .no-underline;
  }
}
