{
  "extends": ["lowmess/react"],
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "extends": ["lowmess/typescript"]
    }
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
