{
	"extends": [
		"lowmess/react",
		"next"
	],
	"overrides": [
		{
			"files": [
				"**/*.ts?(x)"
			],
			"extends": [
				"lowmess/typescript"
			],
			"rules": {
				"react/prop-types": 0
			}
		}
	],
	"env": {
		"browser": true,
		"node": true
	},
	"parserOptions": {
		"sourceType": "module"
	}
}
