footer
  +container(class="flex justify-center justify-between-l")
    +link("https://github.com/lowmess/lowmess")(class="dn db-l") Proudly Open Source
    ul.mv0.pl0.list
      li.di.ml0.mr3: +link("https://twitter.com/lowmess") Twitter
      li.di.ml0.mr3: +link("https://github.com/lowmess") GitHub
      li.di.ml0: +link("https://dribbble.com/lowmess") Dribbble
