//- head.jade
//- general meta & SEO stuff
meta(charset="UTF-8")
meta(content="width=device-width, initial-scale=1", name="viewport")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(http-equiv="Accept-CH", content="DPR, Viewport-Width, Width")

//- Title & Description
block meta
  if title
    title!= title + " • " + site.title
  else
    title!= site.title

  meta(name="description", content!=description ? description : site.description)

//- Open Graph / Twitter Card
meta(name="twitter:site", content="@lowmess")
meta(name="twitter:card", content="summary")
meta(property="og:site_name", content!=site.title)
meta(property="og:title", name="twitter:title", content!=title)
meta(property="og:url", content!=path ? site.url + path : site.url)
meta(property="og:image", content!=image ? site.url + image : site.url + "apple-touch-icon.png")
if description
  meta(property="og:description", name="twitter:description", content!=description)
else if snippet
  meta(property="og:description", name="twitter:description", content!=snippet)
else
  meta(property="og:description", name="twitter:description", content!=site.description)

//- favicon stuff
link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
link(rel="manifest", href="/manifest.json")
link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#F2930D")
meta(name="theme-color", content="#FFFFFF")

//- CSS files
link(rel="stylesheet", href="/css/bundle.css")
