nav(role="navigation").bg-white.relative.shadow-2.flex.justify-between.items-center.h3
  a(href="/").fixed.left-0.top-0.h3.mw3.z-max
    svg.h-50.mt3.ml3.mw-100.fill-orange
      use(xlink:href="/images/site.svg#logo")
  a(href="/").h3.dn.db-ns.mw5
    svg.h-50.ml3.mt3.mw-100.fill-dark-gray
      use(xlink:href="/images/site.svg#logotype")
  ul.list.mv0.pr2.tr.flex-auto
    li.di.mr3: +link("/projects") Projects
    li.di.mr3: +link("/blog") Blog
    li.di.mr2: +link("/about") About
