nav(role="navigation").bg-white.relative.shadow-2.flex.justify-between.items-center.h3
  a(href="/").fixed.left-0.top-0.h3.mw3
    svg.h-50.mt3.ml3.mw-100
      use(xlink:href="/images/site.svg#logo")
  a(href="/").h3.dn.db-ns.mw5
    svg.h-50.ml3.mt3.mw-100
      use(xlink:href="/images/site.svg#logotype")
  ul.list.mv0.pr2.pr3-ns.tr.flex-auto
    li.di.mr3: +link("/work") Work
    li.di.mr3: +link("/blog") Blog
    li.di.mr2.mr3-ns: +link("/contact") Contact
