script(src="/js/main.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js", async)
link(rel="stylesheet", href="https://cdn.rawgit.com/lowmess/lowmess-prism/6f87b83d0c09bc60446e2384010ad0a5ebcdc40d/lowmess-prism.css", async)
