script(src="/js/main.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js", async)
link(rel="stylesheet", href="https://cdn.rawgit.com/lowmess/lowmess-prism/master/lowmess-prism.css", async)
