script(src="/js/main.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js", async)
link(rel="stylesheet", href="https://cdn.rawgit.com/lowmess/lowmess-prism/95e933f6cecede3616db1bd1dd046f403f47b2a5/lowmess-prism.css", async)
