script(src="/js/main.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js", async)
link(rel="stylesheet", href="https://unpkg.com/lowmess-prism/lowmess-prism.min.css", async)
link(rel="stylesheet", href="https://unpkg.com/lowmess-patterns/lowmess-patterns.min.css", async)
