---
import GlobalLayout from "~/layouts/GlobalLayout.astro";
---

<GlobalLayout title="Spooky Graveyard">
	<h1>Blog Graveyard</h1>
	<p>where blogposts are unceremoniously killed off</p>
</GlobalLayout>
