//- scripts.jade
script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js")
//- script(src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/jquery.magnific-popup.min.js")
script(src="//lowmess.com/main.min.js")