/*** FONTS ***/
	@font-face {
		font-family: 'Nexa';
		src: url('../fonts/nexa-regular.otf');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'Nexa';
		src: url('../fonts/nexa-regular-italic.otf');
		font-weight: normal;
		font-style: italic;
	}
	@font-face {
		font-family: 'Nexa';
		src: url('../fonts/nexa-bold.otf');
		font-weight: bold;
		font-style: normal;
	}
	@font-face {
		font-family: 'Nexa';
		src: url('../fonts/nexa-bold-italic.otf');
		font-weight: bold;
		font-style: italic;
	}

	@font-face {
		font-family: 'Nexa-Book';
		src: url('../fonts/nexa-book.otf');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'Nexa-Book';
		src: url('../fonts/nexa-book-italic.otf');
		font-weight: normal;
		font-style: italic;
	}
	@font-face {
		font-family: 'Nexa-Book';
		src: url('../fonts/nexa-bold.otf');
		font-weight: bold;
		font-style: normal;
	}
	@font-face {
		font-family: 'Nexa-Book';
		src: url('../fonts/nexa-bold-italic.otf');
		font-weight: bold;
		font-style: italic;
	}

	@font-face {
		font-family: 'Nexa-XBold';
		src: url('../fonts/nexa-XBold.otf');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'Nexa-XBold';
		src: url('../fonts/nexa-XBold-italic.otf');
		font-weight: normal;
		font-style: italic;
	}
	@font-face {
		font-family: 'Nexa-XBold';
		src: url('../fonts/nexa-XBold.otf');
		font-weight: bold;
		font-style: normal;
	}
	@font-face {
		font-family: 'Nexa-XBold';
		src: url('../fonts/nexa-XBold-italic.otf');
		font-weight: bold;
		font-style: italic;
	}

	@font-face {
		font-family: 'Nexa-Black';
		src: url('../fonts/nexa-black.otf');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'Nexa-Black';
		src: url('../fonts/nexa-black-italic.otf');
		font-weight: normal;
		font-style: italic;
	}
	@font-face {
		font-family: 'Nexa-Black';
		src: url('../fonts/nexa-black.otf');
		font-weight: bold;
		font-style: normal;
	}
	@font-face {
		font-family: 'Nexa-Black';
		src: url('../fonts/nexa-black-italic.otf');
		font-weight: bold;
		font-style: italic;
	}