html {
	background-color: var(--color-background);
	scroll-behavior: smooth;

	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-block-start: var(--container-padding-block);
	padding-inline-start: var(--container-padding-inline-start);
	padding-inline-end: var(--container-padding-inline-end);
	background-color: var(--color-background);
	font-size: var(--font-size-md);
	font-family: var(--font-family-body);
	line-height: var(--line-height-body);
	color: var(--color-text);
	counter-reset: numbered-section 0;
}

body > main {
	flex: 1;
	width: 100%;
	padding-block: calc(var(--content-padding-block) * 2);
}

::selection {
	background-color: hsl(from var(--color-primary) h s l / 0.75);
}

:where(h1, h2, h3, h4, h5, h6) {
	font-family: var(--font-family-heading);
	text-wrap: balance;
	line-height: var(--font-family-heading);
}

:where(h1) {
	font-style: italic;

	& > :where(em, code) {
		font-style: normal;
	}
}

:is(code, pre) {
	font-family: var(--font-family-mono);
	color: currentColor;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: 1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;

	/* https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe */
	white-space: nowrap;
	word-wrap: normal;
}

.astro-code,
.astro-code span {
	background-color: light-dark(var(--shiki-light-bg), var(--shiki-dark-bg));
	color: light-dark(var(--shiki-light), var(--shiki-dark));
}
