html {
	background-color: var(--color-background);
	scroll-behavior: smooth;

	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-block-start: var(--container-padding);
	padding-inline: var(--container-padding);
	background-color: var(--color-background);
	background-image: url("/images/topography-light.svg");
	background-size: 900px 900px;
	background-position-x: center;
	background-repeat: repeat;
	background-attachment: fixed;
	font-size: var(--font-size-md);
	font-family: var(--font-family-body);
	line-height: var(--line-height-body);
	color: var(--color-text);

	@media (prefers-color-scheme: dark) {
		background-image: url("/images/topography-dark.svg");
	}

	:root[data-color-theme="light"] & {
		background-image: url("/images/topography-light.svg");
	}

	:root[data-color-theme="dark"] & {
		background-image: url("/images/topography-dark.svg");
	}
}

body > main {
	flex: 1;
	width: 100%;
	padding-block: calc(var(--content-padding) * 2);
}

::selection {
	background-color: hsl(from var(--color-primary) h s l / 0.75);
}

:where(h1, h2, h3, h4, h5, h6) {
	font-family: var(--font-family-heading);
	text-wrap: balance;
	line-height: var(--font-family-heading);
}

:where(code, pre) {
	font-family: var(--font-family-mono);
	color: currentColor;
}

:where(p, a) > code {
	display: inline-block;
	margin-inline: 0.1em;
	border: 1px solid hsl(from var(--color-primary) h s l / 0.125);
	border-radius: 2px;
	padding-block: 2px;
	padding-inline: 4px;
	background-color: var(--color-code-background);
	color: var(--color-code-text);
	line-height: var(--line-height-solid);
}

:where(p, li, code, pre) {
	color: var(--color-text-body);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: 1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;

	/* https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe */
	white-space: nowrap;
	word-wrap: normal;
}

.astro-code,
.astro-code span {
	background-color: light-dark(var(--shiki-light-bg), var(--shiki-dark-bg));
	color: light-dark(var(--shiki-light), var(--shiki-dark));
}

.astro-code .diff {
	&.add,
	&.add span {
		color: light-dark(#448c27, #98c379);
	}

	&.remove,
	&.remove span {
		color: light-dark(#aa3731, #e06c75);
	}

	&::before {
		position: relative;
		left: calc(var(--space-sm) * -1);

		@media (min-width: 48em) {
			left: calc(var(--space-md) * -1);
		}

		@media (min-width: 64em) {
			left: calc(var(--space-md) * -2);
		}
	}

	&.add::before {
		content: "+";
	}

	&.remove::before {
		content: "-";
	}
}
