html {
	background-color: var(--color-background);
	font-size: var(--font-size-md);
	font-family: var(--font-family-body);
	line-height: var(--line-height-body);
	color: var(--color-text);
}

:where(h1, h2, h3, h4, h5, h6) {
	font-family: var(--font-family-heading);
	text-wrap: balance;
	line-height: var(--font-family-heading);
}
