---
import Container from "~/components/Container.astro";
import Hero from "~/components/Hero.astro";
import GlobalLayout from "~/layouts/GlobalLayout.astro";
---

<GlobalLayout>
	<Hero />

	<div class="bg">
		<Container>
			<p>Page content TK</p>
		</Container>
	</div>
</GlobalLayout>

<style>
	.bg {
		position: relative;
		z-index: 999;
		background-color: var(--color-background);
		/* temp */
		min-height: 50vh;
		padding-block: var(--space-lg);
	}
</style>
