.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
.grid {
  width: 100%;
  max-width: $measure;
  padding: $gutter;
  @include breakpoint(medium) { padding: $md-gutter; };
  @include breakpoint(large) { padding: $lg-gutter; };
  margin: 0 auto;
}
.row {
  width: 100%;
  max-width: $measure;
  margin: 0 (-$gutter) 0 0;
  @include breakpoint(medium) { margin: 0 (-$md-gutter) 0 0; };
  @include breakpoint(large) { margin: 0 (-$lg-gutter) 0 0; };
  padding: 0;
  clear: both;
}
//small
.col {
  @include position(relative);
  height: 100%;
  width: 100%;
  //min-width: $measure / 8;
  max-width: $measure;
  float: left;
  padding: 0 $gutter;
  @include breakpoint(medium) { padding: 0 $md-gutter; };
  @include breakpoint(large) { padding: 0 $lg-gutter; };
  margin: 0 auto;
  &--img {
    margin: ($gutter * 0.8) 0;
    @include breakpoint(medium) { margin: ($md-gutter * 0.8) 0; };
    @include breakpoint(large) { margin: ($lg-gutter * 0.8) 0; };
  }
  &--flow-opposite {
    float: right;
  }
  &--half {
    width: calc(100% / 2);
  }
  &--third {
    width: calc(100% / 3);
  }
  &--two-thirds {
    width: calc(100% * 0.66);
  }
  &--quarter {
    width: calc(100% / 4);
  }
  &--three-quarters {
    width: calc(100% * 0.75);
  }
  //medium
  @include breakpoint(medium) {
    &--md-half {
      width: calc(100% / 2);
    }
    &--md-third {
      width: calc(100% / 3);
    }
    &--md-two-thirds {
      width: calc(100% * 0.66);
    }
    &--md-quarter {
      width: calc(100% / 4);
    }
    &--md-three-quarters {
      width: calc(100% * 0.75);
    }
  }
  //large
  @include breakpoint(large) {
    &--lg-half {
      width: calc(100% / 2);
    }
    &--lg-third {
      width: calc(100% / 3);
    }
    &--lg-two-thirds {
      width: calc(100% * 0.66);
    }
    &--lg-quarter {
      width: calc(100% / 4);
    }
    &--lg-three-quarters {
      width: calc(100% * 0.75);
    }
  }
}