---
import { type HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...props } = Astro.props;
---

<div class:list={["container", className]} {...props}>
	<div class="circle"></div>

	<div class="splashdown"></div>
</div>

<style>
	.container {
		position: relative;
		container-type: inline-size;
	}

	.circle {
		position: relative;
		width: 33cqw;
		aspect-ratio: 1;
		background-color: var(--color-primary);
		border-radius: 100%;
	}

	.circle::before,
	.circle::after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 100%;
		filter: contrast(200%);
	}

	.circle::before {
		background: radial-gradient(
				circle at 10% 0%,
				color-mix(in hsl, var(--color-primary), white),
				var(--color-primary)
			),
			url(https://grainy-gradients.vercel.app/noise.svg);
		mix-blend-mode: screen;
		opacity: 0.25;
	}

	.circle::after {
		background: radial-gradient(
				circle at 35% 22.5%,
				rgba(0, 0, 0, 0),
				hsl(35, 90%, 14%)
			),
			url(https://grainy-gradients.vercel.app/noise.svg);
		mix-blend-mode: multiply;
	}
</style>
