---
import { type HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div"> & { numberOfColumns?: number };

const { class: className, numberOfColumns, ...props } = Astro.props;
---

<div class:list={["grid-container", className]} {...props}>
	<div class="grid-cells"></div>
</div>

<style define:vars={{ numberOfColumns }}>
	.grid-container {
		container-type: inline-size;
	}

	.grid-cells {
		--cell-width: calc(100cqw / var(--numberOfColumns));
		height: 100%;
		border: 2px solid white;
		opacity: 0.25;
		overflow: hidden;
		pointer-events: none;
	}

	.grid-cells::after {
		content: "";
		display: block;
		height: calc(100% + var(--cell-width));
		background-image: repeating-linear-gradient(
				to right,
				transparent,
				transparent calc(var(--cell-width) - 4px),
				white var(--cell-width)
			),
			repeating-linear-gradient(
				to bottom,
				transparent,
				transparent calc(var(--cell-width) - 4px),
				white var(--cell-width)
			);
	}

	@media (prefers-reduced-motion: no-preference) {
		.grid-cells::after {
			will-change: transform;
			animation: 8s linear 0s infinite running grid-scroll;
		}
	}

	@keyframes grid-scroll {
		0% {
			transform: translateY(0);
		}

		100% {
			transform: translateY(calc(var(--cell-width) * -1));
		}
	}
</style>
