---
import { type HTMLAttributes } from "astro/types";

import Grid from "~/components/Grid.astro";
import Horizon from "~/components/Horizon.astro";
import Sphere from "~/components/Sphere.astro";

type Props = HTMLAttributes<"div">;

const { class: className, ...props } = Astro.props;
---

<div class:list={["container", className]} {...props}>
	<h1>my name is alec&nbsp;lomas, and i make websites.</h1>

	<Sphere class="sphere" />

	<Grid class="grid" cellWidth="3cqw" />

	<img class="marker" src="/assets/marker.png" alt="" />

	<img class="pen" src="/assets/pen_orange.png" alt="" />

	<div class="content">
		<p>
			For over a decade, I&apos;ve been designing for the web &amp; building the
			frontends that power those designs. This is a second sentence. This is a
			third one. Here&apos;s a sentence talking about how I need to reword the
			first sentence.
		</p>

		<p>
			Currently, I am helping build the future of management construction
			software at <a
				href="https://ressiosoftware.com"
				target="_blank"
				rel="noreferrer noopener">Ressio</a
			>.
		</p>
	</div>

	<Horizon class="horizon" />
</div>

<style>
	/* TODO styles below 960px */
	.container {
		position: relative;
		container-type: inline-size;
		max-width: 1440px;
		padding-inline: var(--container-padding);
	}

	h1 {
		position: relative;
		left: 22cqw;
		width: 78cqw;
		font-size: var(--font-size-heading);
		line-height: calc(var(--font-size-heading) - var(--space-sm));
		margin-block-end: 0;
		z-index: 30;
		text-shadow: rgb(0, 0, 0, 0.25) 0 0 8px;
	}

	.sphere {
		position: absolute;
		top: 2cqw;
		left: 4cqw;
		z-index: 20;
		width: 33cqw;
		box-shadow: 8px 8px 32px -8px rgb(0, 0, 0, 0.5);
	}

	.horizon {
		position: relative;
		z-index: 1;
		width: 100vw;
		margin-left: calc(var(--container-padding) * -1);
	}

	.grid {
		position: absolute;
		top: -2cqw;
		left: 16cqw;
		z-index: -1;
		width: 24cqw;
		aspect-ratio: 1 / 3;
	}

	.marker {
		position: absolute;
		top: -2cqw;
		left: -2cqw;
		z-index: -2;
		width: 60cqw;
		opacity: 0.5;
		pointer-events: none;
	}

	.pen {
		position: relative;
		left: 10cqw;
		width: 90cqw;
		pointer-events: none;
	}

	.content {
		position: relative;
		left: calc(40cqw + var(--space-md));
		width: calc(60cqw - var(--space-md));
		max-width: 55ch;
		margin-block: var(--space-lg);
	}

	p {
		margin: 0;
		text-wrap: pretty;
	}

	p + p {
		margin-block-start: var(--rhythm-md);
	}

	a {
		color: var(--color-text);
		text-decoration-color: var(--color-primary);
	}

	a:hover {
		color: var(--color-primary);
	}
</style>
