---
import { type HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...props } = Astro.props;
---

<div class:list={["horizon", className]} {...props}></div>

<style>
	.horizon {
		position: relative;
		z-index: 999;
		height: var(--space-xxl);
		background-color: var(--color-background);
	}

	.horizon::before {
		content: "";
		position: absolute;
		inset: 0;
		z-index: 9999;
		display: block;
		width: 100%;
		background-image: linear-gradient(
				to bottom,
				color-mix(in hsl, var(--color-background), black),
				transparent
			),
			url(https://grainy-gradients.vercel.app/noise.svg);
		background-repeat: repeat;
		background-size:
			100%,
			1000px 1000px;
		filter: contrast(200%);
		mix-blend-mode: multiply;
		opacity: 0.5;
	}
</style>
