---
import { type HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...props } = Astro.props;
---

<div class:list={["sphere", className]} {...props}></div>

<style>
	.sphere {
		aspect-ratio: 1;
		background-color: hsl(300, 90%, 45%);
		border-radius: 100%;
		pointer-events: none;
		background-image: radial-gradient(
				circle at 35% 22.5%,
				hsl(300, 5%, 75%, 0.75),
				hsl(300, 5%, 75%)
			),
			url(https://grainy-gradients.vercel.app/noise.svg);
		filter: contrast(200%);
	}

	.sphere::before,
	.sphere::after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 100%;
		filter: contrast(200%);
	}

	/* shadow */
	.sphere::before {
		background-image: radial-gradient(
				circle at 35% 22.5%,
				hsl(300, 90%, 0%, 0),
				hsl(300, 90%, 10%)
			),
			url(https://grainy-gradients.vercel.app/noise.svg);
		mix-blend-mode: multiply;
		opacity: 0.85;
	}
	/* highlight. */
	.sphere::after {
		background-image: radial-gradient(
				circle at 10% 0%,
				color-mix(in hsl, hsl(300, 90%, 45%), white),
				hsl(300, 90%, 45%)
			),
			url(https://grainy-gradients.vercel.app/noise.svg);
		mix-blend-mode: screen;
		opacity: 0.05;
	}
</style>
