//- 404
extends ./templates/page.jade
block title
  title lowmess ~ Alec Lomas
block theme-color
  +theme-color("#191919")
block content
  +page("four04", "Error 404", "")
    .grid
      .row.clearfix
        .col
          h1 oops! it appears i&rsquo;ve misplaced this page.
          p How embarassing! I could&rsquo;ve sworn that page was right around here somewhere... maybe you could look around for it on the&nbsp;
            a(href="//lowmess.com") home page
            | ?
  +head-home