//- 2015.jade
extends ../templates/project.jade
block title
  title 2015 ~ lowmess
block theme-color
  +theme-color("#c0392b")
block content
  +project("twok15", "2015", "An ongoing project of a new desktop wallpaper calendar every month for the year 2015.")
    .grid
      .row.clearfix#january
        .col
          h2 January
          p Prepare to lose some icons. We start the year off with a chaotic mix of found imagery &amp; swiss-inspired design.&nbsp;
            a(href="//lowmess.com/work/2015/january/images/january.jpg", download) Download the wallpaper here
            | .
      .row.clearfix
        .col.col--img
          img(src="//lowmess.com/work/2015/images/january-calendar.jpg", srcset="//lowmess.com/work/2015/images/january-calendar@2x.jpg 1920w, //lowmess.com/work/2015/images/january-calendar.jpg 960w", sizes="(min-width: 40.1rem) 960px, 100vw")
      .row.clearfix
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/2015/images/january-details-1.jpg", srcset="//lowmess.com/work/2015/images/january-details-1@2x.jpg 580w, //lowmess.com/work/2015/images/january-details-1.jpg 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/2015/images/january-details-2.jpg", srcset="//lowmess.com/work/2015/images/january-details-2@2x.jpg 580w, //lowmess.com/work/2015/images/january-details-2.jpg 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/2015/images/january-details-3.jpg", srcset="//lowmess.com/work/2015/images/january-details-3@2x.jpg 580w, //lowmess.com/work/2015/images/january-details-3.jpg 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
      .row.clearfix#february
        .col
          h2 February
          p A minimal typographic calendar-a-day that features&nbsp;
            a(href="//fontfabric.com/nexa-font/", target="_blank") Nexa
            | &nbsp;by Fontfabric and a fact about the current date.&nbsp;
            a(href="//lowmess.com/work/2015/images/february.zip", download) Download the full set here
            | .
      .row.clearfix
        .col.col--img
          img(src="//lowmess.com/work/2015/images/february-calendar.png", srcset="//lowmess.com/work/2015/images/february-calendar@2x.png 1920w, //lowmess.com/work/2015/images/february-calendar.png 960w", sizes="(min-width: 40.1rem) 960px, 100vw")
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/2015/images/february-detail-1.png", srcset="//lowmess.com/work/2015/images/february-detail-1@2x.png 900w, //lowmess.com/work/2015/images/february-detail-1.png 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/2015/images/february-detail-2.png", srcset="//lowmess.com/work/2015/images/february-detail-2@2x.png 900w, //lowmess.com/work/2015/images/february-detail-2.png 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
      .row.clearfix
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/2015/images/february-preview-1.png", srcset="//lowmess.com/work/2015/images/february-preview-1@2x.png 580w, //lowmess.com/work/2015/images/february-preview-1.png 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/2015/images/february-preview-2.png", srcset="//lowmess.com/work/2015/images/february-preview-2@2x.png 580w, //lowmess.com/work/2015/images/february-preview-2.png 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/2015/images/february-preview-3.png", srcset="//lowmess.com/work/2015/images/february-preview-3@2x.png 580w, //lowmess.com/work/2015/images/february-preview-3.png 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
      .row.clearfix#march
        .col
          h2 March
          p Featuring strong geometric shapes, portraiture from a 1951 issue of <em>LIFE</em> magazine, and&nbsp;
            a(href="//www.cooperhewitt.org/colophon/cooper-hewitt-the-typeface-by-chester-jenkins/", target="_blank") Cooper Hewitt&rsquo;s eponymous typeface
            | , this calendar is both visually complex and devastatingly simple. You can&nbsp;
            a(href="//lowmess.com/work/2015/images/march.jpg", download) download the full-size version here
            | .
      .row.clearfix
        .col.col--img
          img(src="//lowmess.com/work/2015/images/march-calendar.jpg", srcset="//lowmess.com/work/2015/images/march-calendar@2x.jpg 1920w, //lowmess.com/work/2015/images/march-calendar.jpg 960w", sizes="(min-width: 40.1rem) 960px, 100vw")
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/2015/images/march-detail-1.jpg", srcset="//lowmess.com/work/2015/images/march-detail-1@2x.jpg 900w, //lowmess.com/work/2015/images/march-detail-1.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/2015/images/march-detail-2.jpg", srcset="//lowmess.com/work/2015/images/march-detail-2@2x.jpg 900w, //lowmess.com/work/2015/images/march-detail-2.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
      .row.clearfix#april
        .col
          h2 April
          p Minimal to its core, this calendar features&nbsp;
            a(href="//www.geomanist.com/", target="_blank") Atipo&rsquo;s Geomanist
            | &nbsp;and not much else. You can&nbsp;
            a(href="//lowmess.com/work/2015/images/april.jpg", download) download the full-size version here
            | .
      .row.clearfix
        .col.col--img
          img(src="//lowmess.com/work/2015/images/april-calendar.jpg", srcset="//lowmess.com/work/2015/images/april-calendar@2x.jpg 1920w, //lowmess.com/work/2015/images/april-calendar.jpg 960w", sizes="(min-width: 40.1rem) 960px, 100vw")
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/2015/images/april-detail-1.jpg", srcset="//lowmess.com/work/2015/images/april-detail-1@2x.jpg 900w, //lowmess.com/work/2015/images/april-detail-1.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/2015/images/april-detail-2.jpg", srcset="//lowmess.com/work/2015/images/april-detail-2@2x.jpg 900w, //lowmess.com/work/2015/images/april-detail-2.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
    //- +2015-january-preview
    //- +2015-february-preview
    //- +2015-march-preview
    //- +2015-april-preview
    //- +2015-may-preview
    //- +2015-june-preview
    //- +2015-july-preview
    //- +2015-august-preview
    //- +2015-september-preview
    //- +2015-october-preview
    //- +2015-november-preview
    //- +2015-december-preview
  +next-project
  +posters-preview