extends ../templates/project.jade
block title
  title February 2015 ~ lowmess
block theme-color
  +theme-color("#3498db")
block content
  +project("february-2015", "February 2015", 'A minimal typographic calendar-a-day that features <a href="//fontfabric.com/nexa-font/" target="_blank">Nexa</a> by Fontfabric and a fact about the current date. <a href="//lowmess.com/work/2015/february/february-2015.zip" download>Download the full set here</a>.')
    .grid
      .row.clearfix
        .col.col--img
          img(src="//lowmess.com/work/2015/february/images/preview.png", srcset="//lowmess.com/work/2015/february/images/preview@2x.png 1920w, //lowmess.com/work/2015/february/images/preview.png 960w", sizes="(min-width: 40.1rem) 960px, 100vw")
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/2015/february/images/detail-1.png", srcset="//lowmess.com/work/2015/february/images/detail-1@2x.png 900w, //lowmess.com/work/2015/february/images/detail-1.png 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/2015/february/images/detail-2.png", srcset="//lowmess.com/work/2015/february/images/detail-2@2x.png 900w, //lowmess.com/work/2015/february/images/detail-2.png 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
      .row.clearfix
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/2015/february/images/preview-1.png", srcset="//lowmess.com/work/2015/february/images/preview-1@2x.png 580w, //lowmess.com/work/2015/february/images/preview-1.png 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/2015/february/images/preview-2.png", srcset="//lowmess.com/work/2015/february/images/preview-2@2x.png 580w, //lowmess.com/work/2015/february/images/preview-2.png 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/2015/february/images/preview-3.png", srcset="//lowmess.com/work/2015/february/images/preview-3@2x.png 580w, //lowmess.com/work/2015/february/images/preview-3.png 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
  +next-project
  +2015-march-preview