//- 2015.jade
extends ../templates/project.jade
block title
  title 2015 ~ lowmess
block theme-color
  +theme-color("#c0392b")
block content
  +project("twok15", "2015", "An ongoing project of a new desktop wallpaper calendar every month for the year 2015.")
    +2015-january-preview
    +2015-february-preview
    +2015-march-preview
    //- +2015-april-preview
    //- +2015-may-preview
    //- +2015-june-preview
    //- +2015-july-preview
    //- +2015-august-preview
    //- +2015-september-preview
    //- +2015-october-preview
    //- +2015-november-preview
    //- +2015-december-preview
  +next-project
  +posters-preview