extends ../templates/project.jade
block title
  title April 2015 ~ lowmess
block theme-color
  +theme-color("#cc3333")
block content
  +project("april-2015", "April 2015", 'Minimal to its core, this calendar features <a href="//www.geomanist.com/" target="_blank">Atipo&rsquo;s Geomanist</a>and not much else. You can <a href="//lowmess.com/work/2015/april/images/april.jpg" download>download the full-size version here</a>.')
    .grid
      .row.clearfix
        .col.col--img
          img(src="//lowmess.com/work/2015/april/images/calendar.jpg", srcset="//lowmess.com/work/2015/april/images/calendar@2x.jpg 1920w, //lowmess.com/work/2015/april/images/calendar.jpg 960w", sizes="(min-width: 40.1rem) 960px, 100vw")
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/2015/april/images/detail-1.jpg", srcset="//lowmess.com/work/2015/april/images/detail-1@2x.jpg 900w, //lowmess.com/work/2015/april/images/detail-1.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/2015/april/images/detail-2.jpg", srcset="//lowmess.com/work/2015/april/images/detail-2@2x.jpg 900w, //lowmess.com/work/2015/april/images/detail-2.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
  +next-project
  +2015-preview