//- bells-brewing.jade
extends ../templates/project.jade
block title
  title Bell's Brewery ~ lowmess
block theme-color
  +theme-color("#ac9732")
block content
  +project("bells-brewery", "Bell&rsquo;s Brewery", '<a href="//bellsbeer.com" target="_blank"> Bell&rsquo;s Brewery</a> is a brewer of craft beers from Kalamazoo, Michigan. As part of a student project, I rebranded the company and 6 of their most popular year-round brews. If you&rsquo;ve never had a Two-Hearted Ale, you&rsquo;re missing out.')
    .grid
      .row.clearfix#logo
        .col
          h2 Logo
          p I wanted to create an icon that would be immediately recognizable if used without the logotype. After many, many sketches I landed on what I call the mitten-bell. Incorporating Michigan&rsquo;s highly recognizable eastern coastline, the logo is both simple and iconic. I played around with incorporating the UP in some way, but nothing ever fit aesthetically. The logotype is based on Lost Type&rsquo;s&nbsp;
            a(href="//www.losttype.com/font/?name=geared", target="_blank") Geared Slab
            | , with the slabs being reshaped to match the shape of the mitten-bell.
      .row.clearfix
        .col.col--img
          img(src="//lowmess.com/work/bells-brewery/images/logo.png", srcset="//lowmess.com/work/bells-brewery/images/logo@2x.png 1920w, //lowmess.com/work/bells-brewery/images/logo.png 960w", sizes="(min-width: 40.1rem) 960px, 100vw")
      .row.clearfix#brands
        .col
          h2 Brands
          p Bell&rsquo;s calls their beers &lsquo;brands&rsquo;. I decided to continue that trend, giving each brew it&rsquo;s own illustration, spot color &amp; type treatment. The system is unified through a consistent line weight and illustration style, as well as incorporation of the mitten-bell.
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/bells-brewery/images/labels_two-hearted.png", srcset="//lowmess.com/work/bells-brewery/images/labels_two-hearted@2x.png 900w, //lowmess.com/work/bells-brewery/images/labels_two-hearted.png 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/bells-brewery/images/labels_amber.png", srcset="//lowmess.com/work/bells-brewery/images/labels_amber@2x.png 900w, //lowmess.com/work/bells-brewery/images/labels_amber.png 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
      .row.clearfix
        .col.col--md-half.col--lg-quarter.col--img
          img(src="//lowmess.com/work/bells-brewery/images/labels_stout.png", srcset="//lowmess.com/work/bells-brewery/images/labels_stout@2x.png 900w, //lowmess.com/work/bells-brewery/images/labels_stout.png 450w", sizes="(min-width: 40.1rem) 450px, (min-width: 64.1rem) 225px, 100vw")
        .col.col--md-half.col--lg-quarter.col--img
          img(src="//lowmess.com/work/bells-brewery/images/labels_oarsman.png", srcset="//lowmess.com/work/bells-brewery/images/labels_oarsman@2x.png 900w, //lowmess.com/work/bells-brewery/images/labels_oarsman.png 450w", sizes="(min-width: 40.1rem) 450px, (min-width: 64.1rem) 225px, 100vw")
        .col.col--md-half.col--lg-quarter.col--img
          img(src="//lowmess.com/work/bells-brewery/images/labels_pale.png", srcset="//lowmess.com/work/bells-brewery/images/labels_pale@2x.png 900w, //lowmess.com/work/bells-brewery/images/labels_pale.png 450w", sizes="(min-width: 40.1rem) 450px, (min-width: 64.1rem) 225px, 100vw")
        .col.col--md-half.col--lg-quarter.col--img
          img(src="//lowmess.com/work/bells-brewery/images/labels_third-coast.png", srcset="//lowmess.com/work/bells-brewery/images/labels_third-coast@2x.png 900w, //lowmess.com/work/bells-brewery/images/labels_third-coast.png 450w", sizes="(min-width: 40.1rem) 450px, (min-width: 64.1rem) 225px, 100vw")
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/bells-brewery/images/labels_app.jpg", srcset="//lowmess.com/work/bells-brewery/images/labels_app@2x.jpg 900w, //lowmess.com/work/bells-brewery/images/labels_app.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/bells-brewery/images/carriers.jpg", srcset="//lowmess.com/work/bells-brewery/images/carriers@2x.jpg 900w, //lowmess.com/work/bells-brewery/images/carriers.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
      .row.clearfix#ad-website
        .col
          h2 Ad &amp; Website
          p The&nbsp;
            a(href="//bellsbeer.com", target="_blank") current Bell&rsquo;s Brewery website
            | &nbsp;is a mess. I cleaned things up a bit, improving navigation and legibility without sacrificing content.
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/bells-brewery/images/website.jpg", srcset="//lowmess.com/work/bells-brewery/images/website@2x.jpg 900w, //lowmess.com/work/bells-brewery/images/website.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/bells-brewery/images/bells-brewery_ad.jpg", srcset="//lowmess.com/work/bells-brewery/images/bells-brewery_ad@2x.jpg 900w, //lowmess.com/work/bells-brewery/images/bells-brewery_ad.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
  +next-project
  +lennys-burger-preview