//- illustration.jade
extends ../templates/project.jade
block title
  title Illustration ~ lowmess
block theme-color
  +theme-color("#2c3e50")
block content
  +project("illustration", "Illustration", "Ranging from t-shirt graphics to abstract sketches to photo collages, this collection of illustrations shows my true range of illustrative capability. Which may or may not include any traditional &lsquo;illustrating&rsquo;.")
    .grid
      .row.clearfix
        .col.col--img
          img(src="images/4.jpg", srcset="images/4@2x.jpg 1920w, images/4.jpg 960w", sizes="(min-width: 40.1rem) 960px, 100vw")
      .row.clearfix
        .col.col--md-half.col--lg-quarter.col--img
          img(src="images/1.jpg", srcset="images/1@2x.jpg 960w, images/1.jpg 480w", sizes="(min-width: 40.1rem) 480px, (min-width: 64.1rem) 225px, 100vw")
        .col.col--md-half.col--lg-quarter.col--img
          img(src="images/2.jpg", srcset="images/2@2x.jpg 960w, images/2.jpg 480w", sizes="(min-width: 40.1rem) 480px, (min-width: 64.1rem) 225px, 100vw")
        .col.col--md-half.col--lg-quarter.col--img
          img(src="images/7.jpg", srcset="images/7@2x.jpg 960w, images/7.jpg 480w", sizes="(min-width: 40.1rem) 480px, (min-width: 64.1rem) 225px, 100vw")
        .col.col--md-half.col--lg-quarter.col--img
          img(src="images/8.jpg", srcset="images/8@2x.jpg 960w, images/8.jpg 480w", sizes="(min-width: 40.1rem) 480px, (min-width: 64.1rem) 225px, 100vw")
      .row.clearfix
        .col.col--md-half.col--img
          img(src="images/6.jpg", srcset="images/6@2x.jpg 960w, images/6.jpg 480w", sizes="(min-width: 40.1rem) 480px, 100vw")
        .col.col--md-half.col--img
          img(src="images/attack.jpg", srcset="images/attack@2x.jpg 960w, images/attack.jpg 480w", sizes="(min-width: 40.1rem) 480px, 100vw")
      .row.clearfix
        .col.col--img
          img(src="images/moreau.jpg", srcset="images/moreau@2x.jpg 1920w, images/moreau.jpg 960w", sizes="(min-width: 40.1rem) 960px, 100vw")
      .row.clearfix
        .col.col--md-half.col--img
          img(src="images/mcs.png", srcset="images/mcs@2x.png 900w, images/mcs.png 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="images/rdl-crest.png", srcset="images/rdl-crest@2x.png 900w, images/rdl-crest.png 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
      .row.clearfix
        .col.col--md-half.col--img
          img(src="images/snaaz-1.png", srcset="images/snaaz-1@2x.png 900w, images/snaaz-1.png 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="images/snaaz-2.jpg", srcset="images/snaaz-2@2x.jpg 960w, images/snaaz-2.jpg 480w", sizes="(min-width: 40.1rem) 480px, 100vw")
      .row.clearfix
        .col.col--md-third.col--img
          img(src="images/orange.png", srcset="images/orange@2x.png 580w, images/orange.png 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
        .col.col--md-third.col--img
          img(src="images/sky.jpg", srcset="images/sky@2x.jpg 580w, images/sky.jpg 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
        .col.col--md-third.col--img
          img(src="images/traffic.png", srcset="images/traffic@2x.png 580w, images/traffic.png 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
      .row.clearfix
        .col.col--md-half.col--img
          img(src="images/sfh3.png", srcset="images/sfh3@2x.png 900w, images/sfh3.png 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="images/b2b.png", srcset="images/b2b@2x.png 900w, images/b2b.png 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
      .row.clearfix
        .col.col--md-half.col--img
          img(src="images/get-free.jpg", srcset="images/get-free@2x.jpg 900w, images/get-free.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="images/lnl.png", srcset="images/lnl@2x.png 900w, images/lnl.png 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
  +next-project
  +bells-brewery-preview