extends ../templates/project.jade
block title
  title Lenny's Burger ~ lowmess
block theme-color
  +theme-color("#ffcc22")
block content
  +project("lennys-burger", "Lenny&rsquo;s Burger", '<a href="//lennysburger.com" target="_blank">Lenny&rsquo;s Burger</a> is a burger joint native to Phoenix, Arizona (well, four of them actually). While I am a big fan of their food, their current identity leaves a bad taste in my mouth. I created this speculative rebrand in an attempt to bring some sophistication to their diner-inspired aesthetic.')
    .grid
      .row.clearfix#logo
        .col
          h2 Logo
          p Lenny&rsquo;s old logo was a piece of classic, if poorly drawn, script lettering (their newer logo, for what it&rsquo;s worth, looks like it belongs on a bowling shirt.&nbsp;
            a(href="//s3-media3.fl.yelpcdn.com/bphoto/UimkXJV2ROBF3A-DmOGt4Q/l.jpg", target="_blank") Though their mascot might be too creepy to be worn on any item of clothing in public
            | ). In my new logo, I try to revive the feel of that logo while making the drawing cleaner &amp; clearer. Using&nbsp;
            a(href="//www.aringtypeface.com/sverige-script/", target="_blank") Sverige Script
            | &nbsp;by Aring Typeface as a baseline, I created a thick, flowing mark.
      .row.clearfix
        .col.col--img
          img(src="//lowmess.com/work/lennys-burger/images/script_logo.png", srcset="//lowmess.com/work/lennys-burger/images/script_logo@2x.png 1920w, //lowmess.com/work/lennys-burger/images/script_logo.png 960w", sizes="(min-width: 961px) 960px, 100vw")
      .row.clearfix
        .col
          p The logo can be used in a circular holding shape. Not only does this allow the logo to stand out from any background elements, it also evokes the shape of a burger patty, an association that&rsquo;s cemented by the color palette.
      .row.clearfix
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/lennys-burger/images/circle_logo_yellow.png", srcset="//lowmess.com/work/lennys-burger/images/circle_logo_yellow@2x.png 580w, //lowmess.com/work/lennys-burger/images/circle_logo_yellow.png 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/lennys-burger/images/circle_logo_black.png", srcset="//lowmess.com/work/lennys-burger/images/circle_logo_black@2x.png 580w, //lowmess.com/work/lennys-burger/images/circle_logo_black.png 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/lennys-burger/images/circle_logo_red.png", srcset="//lowmess.com/work/lennys-burger/images/circle_logo_red@2x.png 580w, //lowmess.com/work/lennys-burger/images/circle_logo_red.png 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
      .row.clearfix#website
        .col
          h2 Website
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/lennys-burger/images/web_desk_1.jpg", srcset="//lowmess.com/work/lennys-burger/images/web_desk_1@2x.jpg 900w, //lowmess.com/work/lennys-burger/images/web_desk_1.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/lennys-burger/images/web_desk_2.jpg", srcset="//lowmess.com/work/lennys-burger/images/web_desk_2@2x.jpg 900w, //lowmess.com/work/lennys-burger/images/web_desk_2.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/lennys-burger/images/web_mobile_1.jpg", srcset="//lowmess.com/work/lennys-burger/images/web_mobile_1@2x.jpg 900w, //lowmess.com/work/lennys-burger/images/web_mobile_1.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/lennys-burger/images/web_mobile_2.jpg", srcset="//lowmess.com/work/lennys-burger/images/web_mobile_2@2x.jpg 900w, //lowmess.com/work/lennys-burger/images/web_mobile_2.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
      .row.clearfix#collateral
        .col
          h2 Collateral
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/lennys-burger/images/lennys-burger_ad.jpg", srcset="//lowmess.com/work/lennys-burger/images/lennys-burger_ad@2x.jpg 900w, //lowmess.com/work/lennys-burger/images/lennys-burger_ad.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/lennys-burger/images/lennys-burger_ad_3d.jpg", srcset="//lowmess.com/work/lennys-burger/images/lennys-burger_ad_3d@2x.jpg 900w, //lowmess.com/work/lennys-burger/images/lennys-burger_ad_3d.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
      .row.clearfix
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/lennys-burger/images/pattern_1.png", srcset="//lowmess.com/work/lennys-burger/images/pattern_1@2x.png 580w, //lowmess.com/work/lennys-burger/images/pattern_1.png 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/lennys-burger/images/details.png", srcset="//lowmess.com/work/lennys-burger/images/details@2x.png 580w, //lowmess.com/work/lennys-burger/images/details.png 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/lennys-burger/images/pattern_2.png", srcset="//lowmess.com/work/lennys-burger/images/pattern_2@2x.png 580w, //lowmess.com/work/lennys-burger/images/pattern_2.png 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/lennys-burger/images/menu_front.png", srcset="//lowmess.com/work/lennys-burger/images/menu_front@2x.png 900w, //lowmess.com/work/lennys-burger/images/menu_front.png 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/lennys-burger/images/menu_back.png", srcset="//lowmess.com/work/lennys-burger/images/menu_back@2x.png 900w, //lowmess.com/work/lennys-burger/images/menu_back.png 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
  +next-project
  +2015-preview