//- posters.jade
extends ../templates/project.jade
block title
  title Posters ~ lowmess
block theme-color
  +theme-color("#bdc3c7")
block content
  +project("posters", "Posters", "While many would consider logos the most concentrated and economical form of visual design, I disagree. Logos, even the most recognizable, are part of a larger system. Posters can exist by their lonesome. In fact, they can create comlplex visual systems and identites within their small frame. Here I explore this furtile design ground.")
    .grid
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/posters/images/wedding.jpg", srcset="//lowmess.com/work/posters/images/wedding@2x.jpg 900w, //lowmess.com/work/posters/images/wedding.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/posters/images/dbat.jpg", srcset="//lowmess.com/work/posters/images/dbat@2x.jpg 900w, //lowmess.com/work/posters/images/dbat.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
      .row.clearfix
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/posters/images/sea-of-lies.jpg", srcset="//lowmess.com/work/posters/images/sea-of-lies@2x.jpg 900w, //lowmess.com/work/posters/images/sea-of-lies.jpg 450w", sizes="(min-width: 40.1rem) 290px, 100vw")
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/posters/images/bombing.jpg", srcset="//lowmess.com/work/posters/images/bombing@2x.jpg 900w, //lowmess.com/work/posters/images/bombing.jpg 450w", sizes="(min-width: 40.1rem) 290px, 100vw")
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/posters/images/mighty-weapons.jpg", srcset="//lowmess.com/work/posters/images/mighty-weapons@2x.jpg 900w, //lowmess.com/work/posters/images/mighty-weapons.jpg 450w", sizes="(min-width: 40.1rem) 290px, 100vw")
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/posters/images/commonplace.jpg", srcset="//lowmess.com/work/posters/images/commonplace@2x.jpg 900w, //lowmess.com/work/posters/images/commonplace.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/posters/images/alone.jpg", srcset="//lowmess.com/work/posters/images/alone@2x.jpg 900w, //lowmess.com/work/posters/images/alone.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
      .row.clearfix
        .col
          h2 Show Posters
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/posters/images/manchester-orchestra.jpg", srcset="//lowmess.com/work/posters/images/manchester-orchestra@2x.jpg 900w, //lowmess.com/work/posters/images/manchester-orchestra.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/posters/images/ptm.jpg", srcset="//lowmess.com/work/posters/images/ptm@2x.jpg 900w, //lowmess.com/work/posters/images/ptm.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
      .row.clearfix
        .col.col--md-half.col--lg-quarter.col--img
          img(src="//lowmess.com/work/posters/images/brand-new.jpg", srcset="//lowmess.com/work/posters/images/brand-new@2x.jpg 900w, //lowmess.com/work/posters/images/brand-new.jpg 450w", sizes="(min-width: 40.1rem) 450px, (min-width: 64.1rem) 225px, 100vw")
        .col.col--md-half.col--lg-quarter.col--img
          img(src="//lowmess.com/work/posters/images/circa-survive.jpg", srcset="//lowmess.com/work/posters/images/circa-survive@2x.jpg 900w, //lowmess.com/work/posters/images/circa-survive.jpg 450w", sizes="(min-width: 40.1rem) 450px, (min-width: 64.1rem) 225px, 100vw")
        .col.col--md-half.col--lg-quarter.col--img
          img(src="//lowmess.com/work/posters/images/ytg.jpg", srcset="//lowmess.com/work/posters/images/ytg@2x.jpg 900w, //lowmess.com/work/posters/images/ytg.jpg 450w", sizes="(min-width: 40.1rem) 450px, (min-width: 64.1rem) 225px, 100vw")
        .col.col--md-half.col--lg-quarter.col--img
          img(src="//lowmess.com/work/posters/images/copeland.jpg", srcset="//lowmess.com/work/posters/images/copeland@2x.jpg 900w, //lowmess.com/work/posters/images/copeland.jpg 450w", sizes="(min-width: 40.1rem) 450px, (min-width: 64.1rem) 225px, 100vw")
      .row.clearfix
        .col
          h2 An Incomplete Manifesto for Growth
          p Based off of&nbsp;
            a(href="//www.manifestoproject.it/bruce-mau/", target="_blank") Bruce Mau&rsquo;s&nbsp;
              em An Incomplete Manifesto for Growth
            | , I created this series of posters illustrating each point. Some are literal, others are non-sequiturial, most fall somewhere between. I currently have the first 23 posters complete. I plan to finish the series in 2015.
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/posters/images/aimfg_2.jpg", srcset="//lowmess.com/work/posters/images/aimfg_2@2x.jpg 900w, //lowmess.com/work/posters/images/aimfg_2.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/posters/images/aimfg_8.jpg", srcset="//lowmess.com/work/posters/images/aimfg_8@2x.jpg 900w, //lowmess.com/work/posters/images/aimfg_8.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
      .row.clearfix
        .col.col--md-half.col--lg-quarter.col--img
          img(src="//lowmess.com/work/posters/images/aimfg_1.jpg", srcset="//lowmess.com/work/posters/images/aimfg_1@2x.jpg 900w, //lowmess.com/work/posters/images/aimfg_1.jpg 450w", sizes="(min-width: 40.1rem) 450px, (min-width: 64.1rem) 225px, 100vw")
        .col.col--md-half.col--lg-quarter.col--img
          img(src="//lowmess.com/work/posters/images/aimfg_3.jpg", srcset="//lowmess.com/work/posters/images/aimfg_3@2x.jpg 900w, //lowmess.com/work/posters/images/aimfg_3.jpg 450w", sizes="(min-width: 40.1rem) 450px, (min-width: 64.1rem) 225px, 100vw")
        .col.col--md-half.col--lg-quarter.col--img
          img(src="//lowmess.com/work/posters/images/aimfg_5.jpg", srcset="//lowmess.com/work/posters/images/aimfg_5@2x.jpg 900w, //lowmess.com/work/posters/images/aimfg_5.jpg 450w", sizes="(min-width: 40.1rem) 450px, (min-width: 64.1rem) 225px, 100vw")
        .col.col--md-half.col--lg-quarter.col--img
          img(src="//lowmess.com/work/posters/images/aimfg_10.jpg", srcset="//lowmess.com/work/posters/images/aimfg_10@2x.jpg 900w, //lowmess.com/work/posters/images/aimfg_10.jpg 450w", sizes="(min-width: 40.1rem) 450px, (min-width: 64.1rem) 225px, 100vw")
      .row.clearfix
        .col.col--md-half.col--lg-quarter.col--img
          img(src="//lowmess.com/work/posters/images/aimfg_12.jpg", srcset="//lowmess.com/work/posters/images/aimfg_12@2x.jpg 900w, //lowmess.com/work/posters/images/aimfg_12.jpg 450w", sizes="(min-width: 40.1rem) 450px, (min-width: 64.1rem) 225px, 100vw")
        .col.col--md-half.col--lg-quarter.col--img
          img(src="//lowmess.com/work/posters/images/aimfg_13.jpg", srcset="//lowmess.com/work/posters/images/aimfg_13@2x.jpg 900w, //lowmess.com/work/posters/images/aimfg_13.jpg 450w", sizes="(min-width: 40.1rem) 450px, (min-width: 64.1rem) 225px, 100vw")
        .col.col--md-half.col--lg-quarter.col--img
          img(src="//lowmess.com/work/posters/images/aimfg_15.jpg", srcset="//lowmess.com/work/posters/images/aimfg_15@2x.jpg 900w, //lowmess.com/work/posters/images/aimfg_15.jpg 450w", sizes="(min-width: 40.1rem) 450px, (min-width: 64.1rem) 225px, 100vw")
        .col.col--md-half.col--lg-quarter.col--img
          img(src="//lowmess.com/work/posters/images/aimfg_17.jpg", srcset="//lowmess.com/work/posters/images/aimfg_17@2x.jpg 900w, //lowmess.com/work/posters/images/aimfg_17.jpg 450w", sizes="(min-width: 40.1rem) 450px, (min-width: 64.1rem) 225px, 100vw")
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/posters/images/aimfg_11.jpg", srcset="//lowmess.com/work/posters/images/aimfg_11@2x.jpg 900w, //lowmess.com/work/posters/images/aimfg_11.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/posters/images/aimfg_18.jpg", srcset="//lowmess.com/work/posters/images/aimfg_18@2x.jpg 900w, //lowmess.com/work/posters/images/aimfg_18.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
  +next-project
  +illustration-preview