doctype html
include components/components
html
  head
    include partials/head
  body.sans-serif.dark-gray
    include partials/nav

    block page
      main(role="main")
        +container
          block content
            h1= title
            !=contents

    include partials/footer
    include partials/scripts
