extends default

block page
  +header
    +headline Error 404
    +subheadline Requested Page Not Found
  main(role="main")
    +container(class="mb4 mb5-ns")
      pre.mv0.f4.f3-ns.fw4.lh-title.code.
         ---
        #[+link("/") &ldquo;Click here to go home&rdquo;]
         Is over-used and boring,
         But at least it&rsquo;s clear.
         ---
