extends default

block page
  +header
    +header-text(class="fw6 f2-l") Hi! 👋
    +headline I&rsquo;m Alec Lomas.
    +subheadline I&rsquo;m a frontend developer &amp; designer at&nbsp;#[+link("https://meltmedia.com", "_blank") meltmedia].
  main(role="main")
    +container
      p.fw4.f4.f3-l.lh-title.mt0.mb4.measure-wide I&rsquo;m a frontend developer &amp; designer, with a passion for legibility, performance, and the static web. A quick learner with a thirst for knowledge. Enthusiastic and hard-working, I pride myself on my attention to detail.
      +rule
      +section-title Latest Project
      +project-preview(collections.projects[0])
