extends default

block page
  header.bank-note.bg-orange.pv4
    +container
      h1.dib.f4.f3-ns.fw6.dark-gray.bg-white.ph2.pv1.ma0 Hi, I&rsquo;m Alec Lomas.
      h2.dib.f4.f3-ns.fw4.dark-gray.bg-white.ph2.pv1.ma0 I&rsquo;m a frontend developer &amp; designer from Tempe, Arizona.
