extends default

block page
  header.bg-orange.pv4
    +container
      h1.f1.f-headline-ns.mt0.mb3.white Hi, I&rsquo;m Alec Lomas
      h2.f3.f1-ns.mb0.mt3.dark-grey I&rsquo;m a Frontend Developer &amp; Designer
