extends default

block page
  +header
    +header-text(class="fw6") Hi! 👋
    +headline I&rsquo;m Alec Lomas.
    +subheadline I&rsquo;m a frontend developer &amp; designer at&nbsp;#[+link("https://meltmedia.com", "_blank") meltmedia].
  main(role="main")
    +container
      +section-title Latest Project
      +project-preview(collections.projects[0])
      +section-title(class="mt5-l") From the Blog
