extends default

block page
  +header
    span.dib.f3.fw6.bg-white.ph2.pv1.mv1.mr1 Hi! 👋
    h1.dib.f3.fw6.bg-white.ph2.pv1.mv1.mr1 I&rsquo;m Alec Lomas.
    h2.dib.f3.fw4.bg-white.ph2.pv1.mv1 I&rsquo;m a frontend developer &amp; designer, currently at #[+link("https://meltmedia.com", "_blank") meltmedia].
  main(role="main")
    +container
      h3.f4.fw5.mt2.mt3-ns.mb4 Recent Projects
      section#work
