extends default

block page
  +header
    +header-text(class="fw6 f2-l") Hi! 👋
    +headline I&rsquo;m Alec Lomas.
    +subheadline I&rsquo;m a frontend developer &amp; designer at&nbsp;#[+link("https://meltmedia.com", "_blank") meltmedia].
  main(role="main")
    +container
      p.fw4.f4.f3-l.lh-copy.mt0.mb4.measure-wide My goal is to combine the principles of classic graphic design with the flexible and forward-thinking tenents of the internet. I care deeply about legibility, performance, and the open web. And&nbsp;burritos.
      +rule
      +section-title Latest Project
      +project-preview(collections.projects[0])
