extends default

block page
  +header
    +header-text.fw6.f2-l Hi! 👋
    +headline I&rsquo;m Alec Lomas.
    +subheadline I&rsquo;m a frontend developer &amp; designer in Tempe,&nbsp;AZ.
  main(role="main")
    +container
      p.fw4.f4.f3-l.lh-copy.mt0.mb4.measure-wide My goal is to combine the principles of classic graphic design with the flexible and forward-thinking tenets of the internet. I care deeply about legibility, performance, and the open web. And&nbsp;burritos.
      +rule
      +section-title Latest Projects
      each project, index in collections.projects
        if index % 2 === 0
          +project-preview(project)
        else
          +project-preview(project, true)
