extends default

block page
  header.bg-orange.pv4
    +container
      h1.f2.f-subheadline-ns.fw7.mt0.mb3.white Hi. 👋
      h2.f4.f2-ns.fw6.mt3.mb2.dark-gray I&rsquo;m Alec Lomas.
      h3.f5.f3-ns.fw5.mt2.mb0.dark-gray I&rsquo;m a frontend developer &amp; designer from Tempe, Arizona.
