extends default

block page
  +header
    .dib.db-l
      +headline= title
    +header-text: time(datetime=moment.utc(date))= moment.utc(date).format("MMMM YYYY")
    if tags
      each tag in tags
        +header-text: +link("/tagged/" + tag.replace(' ', '-').toLowerCase())= tag
  main(role="main")
    +container
      .content!=contents
