extends default

block page
  +header
    +headline= title
    +subheadline: time(datetime=moment.utc(date))= moment.utc(date).format("YYYY")
    if tags
      each tag in tags
        +header-text: +link("/tagged/" + tag.replace(' ', '-').toLowerCase())= tag
  main(role="main")
    +container
      .content!=contents
