extends default

block page
  +header
    +header-text(class="fw6 f2-l") Things tagged
    +subheadline= tag
  main(role="main")
    +container
      //- Projects
      - let count = 0
      each item in pagination.files
        if item.collection == 'projects'
          if count === 0
            +section-title Projects
          if count % 2 === 0
            +project-preview(item)
          else
            +project-preview(item, true)
          - count++
      //- Separator
      - let hasProjects = false
      - let hasPosts = false
      each item in pagination.files
        if item.collection == 'projects'
          - hasProjects = true
        if item.collection == 'blog'
          - hasPosts = true
      if hasProjects && hasPosts
        +rule
      //- Blog posts
      - count = 0
      each item in pagination.files
        if item.collection == 'blog'
          if count === 0
            +section-title Blog Posts
          +blog-preview(item)
          - count++
