//- 404
extends ./templates/page.jade
block title
  title lowmess ~ Alec Lomas
block theme-color
  +theme-color("#191919")
block content
  +page("four03", "Error 403", "")
    .grid
      .row.clearfix
        .col
          h1 sorry, you&rsquo;re not allowed in there.
          p There&rsquo;s some stuff I have to keep to myself! Feel free to head back to the&nbsp;
            a(href="//lowmess.com") home page
            | &nbsp;and poke around, though.
  +head-home