//- colophon.jade
extends ./templates/page.jade
block title
  title Colophon ~ lowmess
block theme-color
  +theme-color("#16a085")
block content
  +page("colophon", "colophon", "In which I detail all the cogs in the machine that is this website.")
    .grid
      .row.clearfix#fonts
        .col
          h2 Fonts
      .row.clearfix
        .col.col--md-two-thirds
          p Thanks to the fine folks at Google, I was able to use two absolutely fantastic fonts on this website free of charge (until my interpretive dancing career launches me &amp; my pageviews into international superstardom, that is). The wonderful Montserrat is used for all headings &amp; navigation links. The text you&rsquo;re reading right now is set in gorgeous Merriweather. The very few icons I use are provided by the deservedly-ubiquitous Font Awesome.
        .col.col--md-third
          h4
            a(href="//google.com/fonts", target="_blank") Google Fonts
          h4
            a(href="//google.com/fonts/specimen/Montserrat", target="_blank") Montserrat
          h4
            a(href="//google.com/fonts/specimen/Merriweather", target="_blank") Merriweather
          h4
            a(href="//fontawesome.io", target="_blank") Font Awesome
      .row.clearfix#software
        .col
          h2 Software
      .row.clearfix
        .col.col--md-two-thirds
          p Making this website truly would be impossible without the folks who make these programs. Adobe is king in digital imaging software for a reason (their products are amazing). Sublime Text is, of course, an insanely great text editor (the version 3 beta is already silky smooth &ndash; the final version must be incomprehensible). It&rsquo;s extensibility has saved me headaches thrice-over, so thank you to all the Package Control &amp; extension developers. I let Prepros handle all of my preprocessor, template, and Javascript concatenation/minification/compiling needs. Filezilla is how this file got from my computer to your eyeball.
        .col.col--md-third
          h4
            a(href="//adobe.com/creativecloud.html", target="_blank") Adobe CC
          h4
            a(href="//sublimetext.com", target="_blank") Sublime Text
          h4
            a(href="//packagecontrol.io", target="_blank") Package Control
          h4
            a(href="//prepros.io", target="_blank") Prepros
          h4
            a(href="//filezilla-project.org", target="_blank") Filezilla
      .row.clearfix#languages-plugins
        .col
          h2 Languages &amp; Plugins
      .row.clearfix
        .col.col--md-two-thirds
          p Preprocessors and temlpates made writing this website way less of a hassle. Sass handles my CSS (I prefer the SCSS syntax), and allows me to use the BEM naming method with ease. Jade&rsquo;s robust templating engine was indespensible. I use jQuery because typing &nbsp;
            code document.getElementByClassName
            | &nbsp; over and over is annoying &amp; avoidable. jQuery Color analyzes my theme colors and makes the text on top of them readable. My images are responsive using &nbsp;
            code img
            | &nbsp;with the&nbsp;
            code srcset
            | &nbsp;&amp;&nbsp;
            code sizes
            | &nbsp; attributes, with Picturefill providing support for most current/older browsers. The typing effect on my landing page was created using TheaterJS.
        .col.col--md-third
          h4
            a(href="//sass-lang.com", target="_blank") Sass
          h4
            a(href="//jade-lang.com", target="_blank") Jade
          h4
            a(href="//jquery.com", target="_blank") jQuery
          h4
            a(href="//github.com/jquery/jquery-color/", target="_blank") jQuery Color
          h4
            a(href="//github.com/scottjehl/picturefill", target="_blank") Picturefill
          h4
            a(href="//github.com/Zhouzi/TheaterJS", target="_blank") TheaterJS
      .row.clearfix#tools
        .col
          h2 Tools
      .row.clearfix
        .col.col--md-two-thirds
          p These little tools &amp; guides made this website better. Gridlover automagically creates CSS rules to give your type a nice vertical rhythm. Adam Kaplan&rsquo;s&nbsp;
            em How to Grid&nbsp;
            | made sure the site looked great on all devices &amp; lended a hand in creating my simple grid. Erik Flowers's article that breaks down how the Bootstrap 3 grid works got me the rest of the way there. SVG Optimiser optimizes SVGs. Favic-o-Matic takes an icon and spits out all the necessary code &amp; images for your favicon to look great on any device. I used FlatUIColors for some of my theme colors. Stack Overflow is always there for you when your code just refuses to work. All header photos used were either taken by me or scanned from old <em>LIFE</em> magazines. The sole exceptions are&nbsp;
            em
              a(href="https://www.flickr.com/photos/didmyself/5084495230/in/photolist-8KinhS-7wNWML-efQGVU-6Wh1j8-5vYXB2-fBNviw-bzPZye-QYavS-9qyyh6-pJQYDn-9Q58kU-7CsCqb-7CoNhR-4SbU1e-4pMGRv-c44XQQ-BDJfo-kCMXi-c44YbS-9eXrSp-7f94nT-7ma4cn-bQCvyT-WkoCT-e1VjTD-8LaByf-9Jmyfc-8uZK1U-8AxpWZ-7wK9rr-4kNAPj-bdcBhg-xuZhC-ecWxgf-nnWmTm-oVnzMx-pcQV5d-pcQTrU-oVotPs-7dBN4M-nE8Wvp-nGdd4a-nGdcoc-fcuHXR-fcK2XE-fcK2Xh-fcuHU8-fcK2Wj-fcuHTr-fcuHTv", target="_blank") Sesame Street
            | &amp;&nbsp;
            em
              a(href="http://newallpaper.com/yellow-beer-foam/", target="_blank") Yellow Beer Foam
            | for Lenny&rsquo;s Burger &amp; Bell&rsquo;s Brewery, respectively.
        .col.col--md-third
          h4
            a(href="//gridlover.net/app/", target="_blank") Gridlover
          h4
            a(href="//adamkaplan.me/grid/", target="_blank") How to Grid
          h4
            a(href="//www.helloerik.com/the-subtle-magic-behind-why-the-bootstrap-3-grid-works", target="_blank") Bootstrap 3 Grid
          h4
            a(href="//petercollingridge.appspot.com/svg_optimiser", target="_blank") SVG Optimiser
          h4
            a(href="//favicomatic.com/", target="_blank") Favic-o-Matic
          h4
            a(href="//flatuicolors.com", target="_blank") Flat UI Colors
          h4
            a(href="//stackoverflow.com", target="_blank") Stack Overflow
      .row.clearfix#the-real-heroes
        .col
          h2 Coffee, Beer &amp; Mexican Food
      .row.clearfix
        .col.col--md-two-thirds
          p The real heroes.
  +contact