//- landing.jade
extends ./templates/base.jade
block theme-color
  +theme-color("#f39c12")
block title
  title lowmess ~ Alec Lomas
block content
  article.landing
    header.landing__header
        .grid
          .row.clearfix
            .col
              h1.landing__header__headline Together, we can create some&shy;thing
                br
                span#hero.landing__header__hero
      .grid
        .row.clearfix
          .col
            h2.themed-text Hi, I&rsquo;m Alec Lomas.
            h3 I&rsquo;m a graphic &amp; web designer from Phoenix, Arizona.
        .row.clearfix.landing__skills
          .col.col--md-third
            i.fa.fa-fw.fa-3x.fa-pencil.landing__skill
            p My passion is design. I get joy from creating beautiful, useful, and engaging products regardless of medium.
          .col.col--md-third
            i.fa.fa-fw.fa-3x.fa-code.landing__skill
            p I love solving problems, and coding is just another extension of that. I&rsquo;m well-versed in the worlds of HTML, CSS, and Javascript.
          .col.col--md-third
            i.fa.fa-fw.fa-3x.fa-ban.landing__skill
            p Juggling &amp; unicycling are not in my repetoire. Neither is saying &ldquo;I can&rsquo;t&rdquo;, so I can&nbsp;
              em totally
              | &nbsp;juggle &amp; unicycle. At the same time.
        .row.clearfix
          .col
            h2.themed-text select work
  +lennys-burger-preview
  +bells-brewery-preview
  +view-work
  +contact
  script(src="//lowmess.com/js/theater.min.js")
  //- script(src="//lowmess.com/js/landing.min.js")
  script.
    var theater = new TheaterJS();
    var time = function(min, max) {
      return Math.random() * (max - min) + min;
    }
    theater.describe("hero", 0.8, "#hero");
    theater
      .write("hero:beautiful.", time(1250, 3500))
      .write("hero:honest.", time(1250, 3500))
      .write("hero:clever.", time(1250, 3500))
      .write("hero:fun.", time(1250, 3500))
      .write("hero:ambitious.", time(1250, 3500))
      .write("hero:pretty.", time(1250, 3500))
      .write("hero:smart.", time(1250, 3500))
      .write("hero:terrific.", time(1250, 3500))
      .write("hero:delightful.", time(1250, 3500))
      .write("hero:charming.", time(1250, 3500))
      .write("hero:neat.", time(1250, 3500))
      .write("hero:friendly.", time(1250, 3500))
      .write("hero:brilliant.", time(1250, 3500))
      .write("hero:good.", time(1250, 3500))
      .write("hero:great.", time(1250, 3500))
      .write("hero:better.", time(1250, 3500))
      .write("hero:fantastic.", time(1250, 3500))
      .write("hero:nice.", time(1250, 3500))
      .write("hero:sincere.", time(1250, 3500))
      .write("hero:witty.", time(1250, 3500))
      .write("hero:amazing.", time(1250, 3500))
      .write("hero:incredible.", time(1250, 3500))
      .write("hero:stellar.", time(1250, 3500))
      .write("hero:awesome.", time(1250, 3500))
      .write("hero:excellent.", time(1250, 3500))
      .write("hero:cool.", time(1250, 3500))
      .write("hero:amusing.", time(1250, 3500))
      .write(function () { theater.play(true); });