mixin link(dest, target)
  a.link.dark-gray.hover-orange(href=dest, target=target)&attributes(attributes)
    block

mixin rule
  hr.w-100.mw5.mw6-l.mh0.mv2.mv3-ns.ba.bw1.b--orange.br1&attributes(attributes)

mixin headline
  h1.dib.f3.f2-l.fw6.bg-white.ph2.pv1.ma1.br1&attributes(attributes)
    block

mixin subheadline
  h2.dib.f3.f2-l.fw4.bg-white.ph2.pv1.ma1.br1&attributes(attributes)
    block

mixin header-text
  span.dib.f3.f2-l.fw4.bg-white.ph2.pv1.ma1.br1&attributes(attributes)
    block

mixin section-title
  h3.f4.f3-l.fw5.mv0&attributes(attributes)
    block
  +rule
