@font-face {
  font-family: 'Dank Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('DankMono-Regular.otf') format('opentype'),
    url('DankMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Dank Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('DankMono-Italic.otf') format('opentype'),
    url('DankMono-Italic.ttf') format('truetype');
}
