/*
 * VARIABLES
 */

 //Colors
$theme-color : #f39c12;
$white       : #f5f5f5;
$white-hover : mix($white, $theme-color);
$black       : #191919;
$black-hover : mix($black, $theme-color);
$grey        : #bdc3c7;
$dk-grey     : #7f8c8d;

//Type

// Variables are rounded to pixels
// It's safe to multiply with integers
// eg. h1 {margin: 2*$h1-line 0;}
// The grid will stay aligned
$font-family-sans: "Montserrat", "Open Sans", "Futura", "Century Gothic", "Helvetica", "Arial", sans-serif;
$font-family-serif: "Merriweather", "Georgia", "Lucida Bright", "Book Antiqua", "Times New Roman", serif;

$base-font-size: 0.75rem;
$base-line-height: 1.125rem;
$measure: 64rem;

$h1-font-size: 3.5rem;
$h1-line: 1.125rem;
$h1-lines: 4;
$h1-line-height: $h1-line * $h1-lines;
$h1-margin-top: 2 * $h1-line;
$h1-margin-bottom: 1 * $h1-line;

$h2-font-size: 2.0625rem;
$h2-line: 1.125rem;
$h2-lines: 2;
$h2-line-height: $h2-line * $h2-lines;
$h2-margin-top: 2 * $h2-line;
$h2-margin-bottom: 1 * $h2-line;

$h3-font-size: 1.25rem;
$h3-line: 1.125rem;
$h3-lines: 2;
$h3-line-height: $h3-line * $h3-lines;
$h3-margin-top: 1 * $h3-line;
$h3-margin-bottom: 1 * $h3-line;

$h4-font-size: 0.75rem;
$h4-line: 1.125rem;
$h4-lines: 1;
$h4-line-height: $h4-line * $h4-lines;
$h4-margin-top: 1 * $h4-line;
$h4-margin-bottom: 1 * $h4-line;

$md-base-font-size: 1rem;
$md-base-line-height: 1.5rem;

$md-h1-font-size: 4.625rem;
$md-h1-line: 1.5rem;
$md-h1-lines: 4;
$md-h1-line-height: $md-h1-line * $md-h1-lines;
$md-h1-margin-top: 2 * $md-h1-line;
$md-h1-margin-bottom: 1 * $md-h1-line;

$md-h2-font-size: 2.75rem;
$md-h2-line: 1.5rem;
$md-h2-lines: 2;
$md-h2-line-height: $md-h2-line * $md-h2-lines;
$md-h2-margin-top: 2 * $md-h2-line;
$md-h2-margin-bottom: 1 * $md-h2-line;

$md-h3-font-size: 1.6875rem;
$md-h3-line: 1.5rem;
$md-h3-lines: 2;
$md-h3-line-height: $md-h3-line * $md-h3-lines;
$md-h3-margin-top: 1 * $md-h3-line;
$md-h3-margin-bottom: 1 * $md-h3-line;

$md-h4-font-size: 1rem;
$md-h4-line: 1.5rem;
$md-h4-lines: 1;
$md-h4-line-height: $md-h4-line * $md-h4-lines;
$md-h4-margin-top: 1 * $md-h4-line;
$md-h4-margin-bottom: 1 * $md-h4-line;

$lg-base-font-size: 1.25rem;
$lg-base-line-height: 1.875rem;

$lg-h1-font-size: 5.8125rem;
$lg-h1-line: 1.875rem;
$lg-h1-lines: 4;
$lg-h1-line-height: $lg-h1-line * $lg-h1-lines;
$lg-h1-margin-top: 2 * $lg-h1-line;
$lg-h1-margin-bottom: 1 * $lg-h1-line;

$lg-h2-font-size: 3.5rem;
$lg-h2-line: 1.875rem;
$lg-h2-lines: 2;
$lg-h2-line-height: $lg-h2-line * $lg-h2-lines;
$lg-h2-margin-top: 2 * $lg-h2-line;
$lg-h2-margin-bottom: 1 * $lg-h2-line;

$lg-h3-font-size: 2.0625rem;
$lg-h3-line: 1.875rem;
$lg-h3-lines: 2;
$lg-h3-line-height: $lg-h3-line * $lg-h3-lines;
$lg-h3-margin-top: 1 * $lg-h3-line;
$lg-h3-margin-bottom: 1 * $lg-h3-line;

$lg-h4-font-size: 1.25rem;
$lg-h4-line: 1.875rem;
$lg-h4-lines: 1;
$lg-h4-line-height: $lg-h4-line * $lg-h4-lines;
$lg-h4-margin-top: 1 * $lg-h4-line;
$lg-h4-margin-bottom: 1 * $lg-h4-line;

//Grid
$gutter : $base-font-size;
$md-gutter : $md-base-font-size;
$lg-gutter : $lg-base-font-size;

/*
 * MIXINS
 */
//easily include and define media queries in rules
@mixin breakpoint($point) {
  @if $point == small {
    @media only screen and (max-width: 40rem) { @content; }
  }
  @else if $point == medium {
    @media only screen and (min-width: 40.1rem) { @content; }
  }
  @else if $point == large {
    @media only screen and (min-width: 64.1rem)  { @content; }
  }
  @else if $point == xlarge {
    @media only screen and (min-width: 90.1rem)  { @content; }
  }
  @else if $point == xxlarge {
    @media only screen and (min-width: 120.1rem)  { @content; }
  }
  @else if $point == retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 2) { @content; }
  }
}
//psuedo-shorthand for positioning
@mixin position($position) {
  position: $position;
  @content;
}

/*
 * PLACEHOLDERS
 */
//used for relative/absolute placement in some cases
%position-zero {
  top    : 0;
  bottom : 0;
  left   : 0;
  right  : 0;
}
%container-width {
  width: 100%;
  max-width: $measure;
  margin: 0 auto;
}
%container-padding {
  padding: $base-line-height;
  @include breakpoint(large) { padding: 0; };
}
/*
 * MAPS
 */
//a running list of z-indexii
$zindex: (
  footer                : 100,
  project__main-content : 200,
  project__header       : 300,
  view-next             : 400,
  blocklinks            : 990,
  dropdown              : 1000,
  dropdown-close        : 1010,
  lightbox              : 1100,
);
/*
 * FUNCTIONS
 */
//return a z-index from map $zindex
@function z($label) {
    @return map-get($zindex,$label);
}
