body {
  font-family: $font-family-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
h1, h2, h3, h4, nav, footer {
  font-family: $font-family-sans;
}
h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  margin-top: $h1-margin-top;
  margin-bottom: $h1-margin-bottom;
  letter-spacing: -0.15rem;
}
h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  margin-top: $h2-margin-top;
  margin-bottom: $h2-margin-bottom;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  margin-top: $h3-margin-top;
  margin-bottom: $h3-margin-bottom;
  letter-spacing: -0.05rem;
}
h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  margin-top: $h4-margin-top;
  margin-bottom: $h4-margin-bottom;
}
p, ul, ol, pre, table, blockquote {
  margin-top: $base-line-height;
  margin-bottom: $base-line-height;
}
code, pre {
  background-color: $grey;
  padding: 0 5px;
  border-radius: 5px;
}
@include breakpoint(medium) {
  body {
    font-size: $md-base-font-size;
    line-height: $md-base-line-height;
  }
  h1 {
    font-size: $md-h1-font-size;
    line-height: $md-h1-line-height;
    margin-top: $md-h1-margin-top;
    margin-bottom: $md-h1-margin-bottom;
  }
  h2 {
    font-size: $md-h2-font-size;
    line-height: $md-h2-line-height;
    margin-top: $md-h2-margin-top;
    margin-bottom: $md-h2-margin-bottom;
  }
  h3 {
    font-size: $md-h3-font-size;
    line-height: $md-h3-line-height;
    margin-top: $md-h3-margin-top;
    margin-bottom: $md-h3-margin-bottom;
  }
  h4 {
    font-size: $md-h4-font-size;
    line-height: $md-h4-line-height;
    margin-top: $md-h4-margin-top;
    margin-bottom: $md-h4-margin-bottom;
  }
  p, ul, ol, pre, table, blockquote {
    margin-top: $md-base-line-height;
    margin-bottom: $md-base-line-height;
  }
}
@include breakpoint(large) {
  body {
    font-size: $lg-base-font-size;
    line-height: $lg-base-line-height;
  }
  h1 {
    font-size: $lg-h1-font-size;
    line-height: $lg-h1-line-height;
    margin-top: $lg-h1-margin-top;
    margin-bottom: $lg-h1-margin-bottom;
  }
  h2 {
    font-size: $lg-h2-font-size;
    line-height: $lg-h2-line-height;
    margin-top: $lg-h2-margin-top;
    margin-bottom: $lg-h2-margin-bottom;
  }
  h3 {
    font-size: $lg-h3-font-size;
    line-height: $lg-h3-line-height;
    margin-top: $lg-h3-margin-top;
    margin-bottom: $lg-h3-margin-bottom;
  }
  h4 {
    font-size: $lg-h4-font-size;
    line-height: $lg-h4-line-height;
    margin-top: $lg-h4-margin-top;
    margin-bottom: $lg-h4-margin-bottom;
  }
  p, ul, ol, pre, table, blockquote {
    margin-top: $lg-base-line-height;
    margin-bottom: $lg-base-line-height;
  }
}

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}