//- illustration.jade
extends ../templates/project.jade
block title
  title Illustration ~ lowmess
block theme-color
  +theme-color("#2c3e50")
block content
  +project("illustration", "Illustration", "Ranging from t-shirt graphics to abstract sketches to photo collages, this collection of illustrations shows my true range of illustrative capability. Which may or may not include any traditional &lsquo;illustrating&rsquo;.")
    .grid
      .row.clearfix
        .col.col--img
          img(src="//lowmess.com/work/illustration/images/4.jpg", srcset="//lowmess.com/work/illustration/images/4@2x.jpg 1920w, //lowmess.com/work/illustration/images/4.jpg 960w", sizes="(min-width: 40.1rem) 960px, 100vw")
      .row.clearfix
        .col.col--md-half.col--lg-quarter.col--img
          img(src="//lowmess.com/work/illustration/images/1.jpg", srcset="//lowmess.com/work/illustration/images/1@2x.jpg 960w, //lowmess.com/work/illustration/images/1.jpg 480w", sizes="(min-width: 40.1rem) 480px, (min-width: 64.1rem) 225px, 100vw")
        .col.col--md-half.col--lg-quarter.col--img
          img(src="//lowmess.com/work/illustration/images/2.jpg", srcset="//lowmess.com/work/illustration/images/2@2x.jpg 960w, //lowmess.com/work/illustration/images/2.jpg 480w", sizes="(min-width: 40.1rem) 480px, (min-width: 64.1rem) 225px, 100vw")
        .col.col--md-half.col--lg-quarter.col--img
          img(src="//lowmess.com/work/illustration/images/7.jpg", srcset="//lowmess.com/work/illustration/images/7@2x.jpg 960w, //lowmess.com/work/illustration/images/7.jpg 480w", sizes="(min-width: 40.1rem) 480px, (min-width: 64.1rem) 225px, 100vw")
        .col.col--md-half.col--lg-quarter.col--img
          img(src="//lowmess.com/work/illustration/images/8.jpg", srcset="//lowmess.com/work/illustration/images/8@2x.jpg 960w, //lowmess.com/work/illustration/images/8.jpg 480w", sizes="(min-width: 40.1rem) 480px, (min-width: 64.1rem) 225px, 100vw")
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/illustration/images/6.jpg", srcset="//lowmess.com/work/illustration/images/6@2x.jpg 960w, //lowmess.com/work/illustration/images/6.jpg 480w", sizes="(min-width: 40.1rem) 480px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/illustration/images/attack.jpg", srcset="//lowmess.com/work/illustration/images/attack@2x.jpg 960w, //lowmess.com/work/illustration/images/attack.jpg 480w", sizes="(min-width: 40.1rem) 480px, 100vw")
      .row.clearfix
        .col.col--img
          img(src="//lowmess.com/work/illustration/images/moreau.jpg", srcset="//lowmess.com/work/illustration/images/moreau@2x.jpg 1920w, //lowmess.com/work/illustration/images/moreau.jpg 960w", sizes="(min-width: 40.1rem) 960px, 100vw")
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/illustration/images/mcs.png", srcset="//lowmess.com/work/illustration/images/mcs@2x.png 900w, //lowmess.com/work/illustration/images/mcs.png 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/illustration/images/rdl-crest.png", srcset="//lowmess.com/work/illustration/images/rdl-crest@2x.png 900w, //lowmess.com/work/illustration/images/rdl-crest.png 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/illustration/images/snaaz-1.png", srcset="//lowmess.com/work/illustration/images/snaaz-1@2x.png 900w, //lowmess.com/work/illustration/images/snaaz-1.png 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/illustration/images/snaaz-2.jpg", srcset="//lowmess.com/work/illustration/images/snaaz-2@2x.jpg 960w, //lowmess.com/work/illustration/images/snaaz-2.jpg 480w", sizes="(min-width: 40.1rem) 480px, 100vw")
      .row.clearfix
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/illustration/images/orange.png", srcset="//lowmess.com/work/illustration/images/orange@2x.png 580w, //lowmess.com/work/illustration/images/orange.png 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/illustration/images/sky.jpg", srcset="//lowmess.com/work/illustration/images/sky@2x.jpg 580w, //lowmess.com/work/illustration/images/sky.jpg 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
        .col.col--md-third.col--img
          img(src="//lowmess.com/work/illustration/images/traffic.png", srcset="//lowmess.com/work/illustration/images/traffic@2x.png 580w, //lowmess.com/work/illustration/images/traffic.png 290w", sizes="(min-width: 40.1rem) 290px, 100vw")
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/illustration/images/sfh3.png", srcset="//lowmess.com/work/illustration/images/sfh3@2x.png 900w, //lowmess.com/work/illustration/images/sfh3.png 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/illustration/images/b2b.png", srcset="//lowmess.com/work/illustration/images/b2b@2x.png 900w, //lowmess.com/work/illustration/images/b2b.png 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
      .row.clearfix
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/illustration/images/get-free.jpg", srcset="//lowmess.com/work/illustration/images/get-free@2x.jpg 900w, //lowmess.com/work/illustration/images/get-free.jpg 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
        .col.col--md-half.col--img
          img(src="//lowmess.com/work/illustration/images/lnl.png", srcset="//lowmess.com/work/illustration/images/lnl@2x.png 900w, //lowmess.com/work/illustration/images/lnl.png 450w", sizes="(min-width: 40.1rem) 450px, 100vw")
  +next-project
  +bells-brewery-preview